Repository Arrthurr/schools-in, changes with the owners that .github/CODEOWNERS names for each.
All owners: @schools-in-team, @frontend-team, @backend-team, @devops-team, @qa-team, @performance-team, @tech-writers, @security-team

.github/CODEOWNERS:

# Global owners
* @schools-in-team

# Frontend components
/src/components/ @frontend-team @schools-in-team

# Backend/API routes
/src/app/api/ @backend-team @schools-in-team

# Firebase configuration
firebase.json @backend-team @schools-in-team
firestore.rules @backend-team @schools-in-team  
storage.rules @backend-team @schools-in-team

# CI/CD workflows
/.github/workflows/ @devops-team @schools-in-team

# Performance and accessibility
/cypress/e2e/performance-accessibility.cy.ts @qa-team @schools-in-team
/src/lib/performance/ @performance-team @schools-in-team
/src/lib/testing/ @qa-team @schools-in-team

# Documentation
/docs/ @tech-writers @schools-in-team
README.md @tech-writers @schools-in-team

# Security-sensitive files
/src/lib/firebase/ @security-team @backend-team @schools-in-team
/.env* @security-team @backend-team @schools-in-team

fix(layout): align Provider dashboard sidebar with Admin pattern (#60)
  src/app/dashboard/page.tsx
Owners: @schools-in-team

fix(layout): add admin navigation to feedback page
  src/app/admin/feedback/page.tsx
Owners: @schools-in-team

fix(admin): handle plain Firestore timestamp objects in session duration
  src/components/admin/AdminManualCheckInOut.tsx
Owners: @frontend-team, @schools-in-team

feat(layout): add provider sidebar navigation to all provider pages
  src/app/dashboard/history/page.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/schools/page.tsx
  src/app/provider/feedback/page.tsx
Owners: @schools-in-team

fix(offline): remove duplicate sync notification toast
  src/components/offline/OfflineStatusBar.tsx
Owners: @frontend-team, @schools-in-team

fix(provider): handle plain Firestore timestamp objects in session duration
  src/components/provider/SessionStatus.tsx
Owners: @frontend-team, @schools-in-team

refactor(provider): extract shared navigation into ProviderNavigation component
  src/app/dashboard/history/page.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/schools/page.tsx
  src/app/provider/feedback/page.tsx
  src/components/provider/ProviderNavigation.tsx
Owners: @schools-in-team, @frontend-team

refactor(provider): extract shared navigation into ProviderNavigation component (#61)
  src/app/dashboard/history/page.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/schools/page.tsx
  src/app/provider/feedback/page.tsx
  src/components/provider/ProviderNavigation.tsx
Owners: @schools-in-team, @frontend-team

fix(lint): break long error message to comply with max-len rule
  functions/src/index.ts
Owners: @schools-in-team

docs: add comprehensive CLAUDE.md for AI assistant context
  CLAUDE.md
Owners: @schools-in-team

docs: add comprehensive CLAUDE.md for AI assistant context (#62)
  CLAUDE.md
Owners: @schools-in-team

feat(nav): remove My Schools from provider navigation menu
  src/components/provider/ProviderNavigation.tsx
Owners: @frontend-team, @schools-in-team

feat(nav): remove My Schools from provider navigation menu (#63)
  src/components/provider/ProviderNavigation.tsx
Owners: @frontend-team, @schools-in-team

fix(session): prevent premature auto-checkout and improve stale session cleanup
  firestore.indexes.json
  functions/src/index.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

fix(session): prevent premature auto-checkout and improve stale session cleanup (#64)
  firestore.indexes.json
  functions/src/index.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

fix(notifications): ensure VAPID email is a valid URL
  functions/src/index.ts
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
Owners: @schools-in-team

chore(functions): update firebase-functions and dependencies
  functions/package-lock.json
  functions/package.json
Owners: @schools-in-team

Fix/session lifecycle bugs (#65)
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
Owners: @schools-in-team

chore: save development artifacts and plans
  .cursor/plans/fix_session_bugs_68876656.plan.md
  functions/.gcloudignore
  functions/fetch-sessions.mjs
  plans/test-provider-dashboard-geofence-flow.md
Owners: @schools-in-team

Chore/save dev artifacts (#66)
  .cursor/plans/fix_session_bugs_68876656.plan.md
  functions/.gcloudignore
  functions/fetch-sessions.mjs
  plans/test-provider-dashboard-geofence-flow.md
Owners: @schools-in-team

fix(a11y): add aria-labels to AdminNavigation buttons
  src/components/admin/AdminNavigation.tsx
Owners: @frontend-team, @schools-in-team

fix(a11y): add aria-labels to ProviderNavigation and update docs
  AGENTS.md
  public/sw.js
  src/components/provider/ProviderNavigation.tsx
Owners: @schools-in-team, @frontend-team

refactor(session-reports): simplify session filtering and school name retrieval
  eslint.config.mjs
  src/components/admin/SessionReports.tsx
Owners: @schools-in-team, @frontend-team

refactor(session-reports): simplify session filtering and school name retrieval (#67)
  eslint.config.mjs
  src/components/admin/SessionReports.tsx
Owners: @schools-in-team, @frontend-team

chore: streamline tests and stabilize client UI
  CLAUDE.md
  cypress.config.js
  cypress/e2e/admin-flow.cy.ts
  cypress/e2e/homepage.cy.js
  cypress/e2e/microsoft-auth.cy.ts
  cypress/e2e/navigation.cy.js
  cypress/e2e/offline-scenarios.cy.js
  cypress/e2e/provider-flow.cy.ts
  cypress/e2e/pwa-installation.playwright.js
  cypress/support/commands.js
  cypress/support/e2e.ts
  docs/getting-started-providers.md
  docs/location-validation.md
  package.json
  schools.json
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/profile/page.tsx
  src/components/admin/AdminDashboard.test.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/admin/AdminManualCheckInOut.test.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/admin/ReportScheduler.test.tsx
  src/components/admin/SessionAnalytics.test.tsx
  src/components/admin/SessionAnalytics.tsx
  src/components/auth/LoginForm.tsx
  src/components/layout/ClientLayout.tsx
  src/components/offline/OfflineMessaging.tsx
  src/components/provider/ProviderNavigation.tsx
  src/components/provider/SessionHistory.test.tsx
  src/components/provider/SessionHistory.tsx
  src/components/ui/toaster.tsx
  src/lib/firebase/authBypass.ts
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
  src/lib/hooks/useNetworkStatus.ts
  tests/storage.rules.test.js
Owners: @schools-in-team, @tech-writers, @frontend-team, @security-team, @backend-team

chore: stabilize tests and auth bypass
  src/lib/firebase/authBypass.ts
Owners: @security-team, @backend-team, @schools-in-team

Chore/e2e stabilization (#68)
  CLAUDE.md
  cypress.config.js
  cypress/e2e/admin-flow.cy.ts
  cypress/e2e/homepage.cy.js
  cypress/e2e/microsoft-auth.cy.ts
  cypress/e2e/navigation.cy.js
  cypress/e2e/offline-scenarios.cy.js
  cypress/e2e/provider-flow.cy.ts
  cypress/e2e/pwa-installation.playwright.js
  cypress/support/commands.js
  cypress/support/e2e.ts
  docs/getting-started-providers.md
  docs/location-validation.md
  package.json
  schools.json
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/profile/page.tsx
  src/components/admin/AdminDashboard.test.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/admin/AdminManualCheckInOut.test.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/admin/ReportScheduler.test.tsx
  src/components/admin/SessionAnalytics.test.tsx
  src/components/admin/SessionAnalytics.tsx
  src/components/auth/LoginForm.tsx
  src/components/layout/ClientLayout.tsx
  src/components/offline/OfflineMessaging.tsx
  src/components/provider/ProviderNavigation.tsx
  src/components/provider/SessionHistory.test.tsx
  src/components/provider/SessionHistory.tsx
  src/components/ui/toaster.tsx
  src/lib/firebase/authBypass.ts
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
  src/lib/hooks/useNetworkStatus.ts
  tests/storage.rules.test.js
Owners: @schools-in-team, @tech-writers, @frontend-team, @security-team, @backend-team

fix: correct St. Paul Lutheran coordinates
  schools.json
Owners: @schools-in-team

fix: align schoolService coordinates
  src/lib/services/schoolService.ts
Owners: @schools-in-team

refactor(index.ts): improve code readability and formatting
  functions/src/index.ts
Owners: @schools-in-team

fix(cleanupStaleSessions): add missing index and handle push init errors
  firestore.indexes.json
  functions/src/index.ts
Owners: @schools-in-team

chore: reduce cleanupStaleSessions frequency to every 30 minutes
  functions/src/index.ts
Owners: @schools-in-team

refactor: migrate to Firestore-backed school service and update default geofence radius to 500m
  src/app/admin/schools/page.tsx
  src/components/admin/AdminManualCheckInOut.tsx
  src/components/admin/SchoolForm.tsx
  src/components/provider/CheckInButton.tsx
  src/components/provider/SchoolDetailSheet.tsx
  src/components/provider/SchoolDetailView.tsx
  src/components/provider/SchoolList.tsx
  src/components/provider/SessionHistory.test.tsx
  src/components/provider/SessionHistory.tsx
  src/lib/firebase/types.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/services/bulkSchoolOperations.ts
  src/lib/services/cachedSchoolService.ts
  src/lib/services/cachedSessionService.ts
  src/lib/services/locationNormalizer.ts
  src/lib/services/locationService.ts
  src/lib/services/schoolService.ts
  src/lib/utils/geo.ts
Owners: @schools-in-team, @frontend-team, @security-team, @backend-team

refactor: migrate to Firestore-backed school service and update default geofence radius to 500m (#69)
  src/app/admin/schools/page.tsx
  src/components/admin/AdminManualCheckInOut.tsx
  src/components/admin/SchoolForm.tsx
  src/components/provider/CheckInButton.tsx
  src/components/provider/SchoolDetailSheet.tsx
  src/components/provider/SchoolDetailView.tsx
  src/components/provider/SchoolList.tsx
  src/components/provider/SessionHistory.test.tsx
  src/components/provider/SessionHistory.tsx
  src/lib/firebase/types.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/services/bulkSchoolOperations.ts
  src/lib/services/cachedSchoolService.ts
  src/lib/services/cachedSessionService.ts
  src/lib/services/locationNormalizer.ts
  src/lib/services/locationService.ts
  src/lib/services/schoolService.ts
  src/lib/utils/geo.ts
Owners: @schools-in-team, @frontend-team, @security-team, @backend-team

fix: improve session reliability, geofence accuracy, and timeout handling
  functions/src/index.ts
  schools.json
  scripts/seed-firestore.ts
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useSession.ts
  src/lib/offline/__tests__/queueManager.test.ts
  src/lib/offline/actionQueue.ts
  src/lib/offline/queueManager.ts
  src/lib/services/serviceManager.ts
Owners: @schools-in-team

docs: comprehensive update to agent guides
  AGENTS.md
  docs/agents/architecture.md
  docs/agents/code-style.md
  docs/agents/firebase.md
  docs/agents/pwa.md
Owners: @schools-in-team, @tech-writers

fix: harden warning notification loop and session listener cleanup
  functions/src/index.ts
  src/lib/hooks/useSession.ts
Owners: @schools-in-team

Fix/session geofence improvements (#70)
  AGENTS.md
  docs/agents/architecture.md
  docs/agents/code-style.md
  docs/agents/firebase.md
  docs/agents/pwa.md
  functions/src/index.ts
  schools.json
  scripts/seed-firestore.ts
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useSession.ts
  src/lib/offline/__tests__/queueManager.test.ts
  src/lib/offline/actionQueue.ts
  src/lib/offline/queueManager.ts
  src/lib/services/serviceManager.ts
Owners: @schools-in-team, @tech-writers

fix: prevent GeoPoint spread from silently dropping schools
  src/lib/services/locationNormalizer.test.ts
  src/lib/services/locationNormalizer.ts
Owners: @schools-in-team

fix: prevent GeoPoint spread from silently dropping schools (#71)
  src/lib/services/locationNormalizer.test.ts
  src/lib/services/locationNormalizer.ts
Owners: @schools-in-team
