Repository Arrthurr/schools-in, changes with the owners that .github/CODEOWNERS names for each.
All owners: @schools-in-team, @frontend-team, @backend-team, @devops-team, @qa-team, @performance-team, @tech-writers, @security-team

.github/CODEOWNERS:

# Global owners
* @schools-in-team

# Frontend components
/src/components/ @frontend-team @schools-in-team

# Backend/API routes
/src/app/api/ @backend-team @schools-in-team

# Firebase configuration
firebase.json @backend-team @schools-in-team
firestore.rules @backend-team @schools-in-team  
storage.rules @backend-team @schools-in-team

# CI/CD workflows
/.github/workflows/ @devops-team @schools-in-team

# Performance and accessibility
/cypress/e2e/performance-accessibility.cy.ts @qa-team @schools-in-team
/src/lib/performance/ @performance-team @schools-in-team
/src/lib/testing/ @qa-team @schools-in-team

# Documentation
/docs/ @tech-writers @schools-in-team
README.md @tech-writers @schools-in-team

# Security-sensitive files
/src/lib/firebase/ @security-team @backend-team @schools-in-team
/.env* @security-team @backend-team @schools-in-team

fix: improve auth state propagation in login flow
  public/sw.js
  src/components/auth/LoginForm.tsx
  src/components/auth/ProtectedRoute.tsx
  tasks/0002-prd-provider-service-schedules.md
Owners: @schools-in-team, @frontend-team

fix: handle auth state propagation race condition in Firestore reads
  src/lib/hooks/useCachedAuth.ts
Owners: @schools-in-team

Fix ReferenceError: Add no-op announce function placeholders
  src/components/provider/CheckInButton.tsx
  src/components/provider/SchoolList.tsx
Owners: @frontend-team, @schools-in-team

Fix ScreenReaderOnly undefined error in SchoolList
  src/components/provider/SchoolList.tsx
Owners: @frontend-team, @schools-in-team

chore: update service worker with latest precache manifest
  public/sw.js
  tasks/prd-firestore-dashboards.md
  tasks/prd-provider-check-in-check-out.md
  tasks/tasks-0001-prd-microsoft-authentication.md
  tasks/tasks-prd-firestore-dashboards.md
  tasks/tasks-prd-provider-check-in-check-out.md
Owners: @schools-in-team

fix: prevent memory leaks and redundant loads in SchoolList component
  src/components/provider/SchoolList.tsx
Owners: @frontend-team, @schools-in-team

feat: add /tmp to .gitignore
  .gitignore
Owners: @schools-in-team

Performance optimization: Enhanced image loading with modern formats and lazy loading
  .lighthouseci/assertion-results.json
  .lighthouseci/lhr-1763684454586.html
  .lighthouseci/lhr-1763684454586.json
  .lighthouseci/lhr-1763684466215.html
  .lighthouseci/lhr-1763684466215.json
  .lighthouseci/lhr-1763684477532.html
  .lighthouseci/lhr-1763684477532.json
  .lighthouseci/lhr-1763684488903.html
  .lighthouseci/lhr-1763684488903.json
  .lighthouseci/lhr-1763684500326.html
  .lighthouseci/lhr-1763684500326.json
  .lighthouseci/lhr-1763684511718.html
  .lighthouseci/lhr-1763684511718.json
  .lighthouseci/lhr-1763684523046.html
  .lighthouseci/lhr-1763684523046.json
  .lighthouseci/lhr-1763684534279.html
  .lighthouseci/lhr-1763684534279.json
  .lighthouseci/lhr-1763684545705.html
  .lighthouseci/lhr-1763684545705.json
  .lighthouseci/lhr-1763684556980.html
  .lighthouseci/lhr-1763684556980.json
  .lighthouseci/lhr-1763684568316.html
  .lighthouseci/lhr-1763684568316.json
  .lighthouseci/lhr-1763684579725.html
  .lighthouseci/lhr-1763684579725.json
  .lighthouseci/lhr-1763684591152.html
  .lighthouseci/lhr-1763684591152.json
  .lighthouseci/lhr-1763684602563.html
  .lighthouseci/lhr-1763684602563.json
  .lighthouseci/lhr-1763684613940.html
  .lighthouseci/lhr-1763684613940.json
  package-lock.json
  package.json
  public/sw.js
Owners: @schools-in-team

style: adjust whitespace in deploy workflow.
  .github/workflows/deploy.yml
Owners: @devops-team, @schools-in-team

chore: remove and refine school entries in schools.json and add pull request trigger to deploy workflow.
  .github/workflows/deploy.yml
  schools.json
Owners: @devops-team, @schools-in-team

docs: Add `system` collection to Firestore description and update imported school count from 31 to 22.
  AGENTS.md
Owners: @schools-in-team

feat: Enhance Admin Dashboard activity display with new activity types and messages, and remove obsolete test files.
  AGENTS.md
  src/app/__tests__/page.test.tsx
  src/app/api/analytics/web-vitals/__tests__/route.test.ts
  src/components/admin/AdminDashboard.test.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/provider/CheckInButton.test.tsx
  src/components/provider/SessionStatus.test.tsx
  src/lib/hooks/useAdminMetrics.ts
  src/lib/services/schoolService.test.ts
  src/lib/utils/validation.test.ts
Owners: @schools-in-team, @backend-team, @frontend-team

Add provider feedback form with admin management and email notifications
  firestore.rules
  functions/src/index.js
  src/app/admin/feedback/[id]/page.tsx
  src/app/admin/feedback/page.tsx
  src/app/provider/feedback/page.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/feedback/FeedbackForm.test.tsx
  src/components/feedback/FeedbackForm.tsx
  src/lib/firebase/types.ts
  src/lib/services/feedbackService.test.ts
  src/lib/services/feedbackService.ts
Owners: @backend-team, @schools-in-team, @frontend-team, @security-team

Update .gitignore, add date-fns dependency, and adjust feedbackService import path
  .gitignore
  package.json
  src/lib/services/feedbackService.ts
Owners: @schools-in-team

Update package-lock.json to include date-fns dependency
  package-lock.json
Owners: @schools-in-team

Refactor feedback management components and update select inputs
  package-lock.json
  package.json
  public/sw.js
  src/app/admin/feedback/[id]/FeedbackDetailClient.tsx
  src/app/admin/feedback/[id]/page.tsx
  src/app/admin/feedback/page.tsx
  src/components/admin/AttendanceSummary.tsx
  src/components/admin/BulkOperationsModal.tsx
  src/components/admin/CacheSettings.tsx
  src/components/admin/ReportScheduler.tsx
  src/components/admin/SessionAnalytics.tsx
  src/components/admin/SessionManagement.tsx
  src/components/admin/SessionReports.tsx
  src/components/ui/select.tsx
Owners: @schools-in-team, @frontend-team

fix: Remove redundant [id] route that breaks static export
  src/app/admin/feedback/[id]/FeedbackDetailClient.tsx
  src/app/admin/feedback/[id]/page.tsx
Owners: @schools-in-team

fix: Complete provider feedback implementation
  docs/feedback-implementation-fixes.md
  firestore.indexes.json
  firestore.rules
  functions/package.json
  functions/src/index.js
  src/app/dashboard/page.tsx
  src/components/feedback/FeedbackForm.tsx
Owners: @tech-writers, @schools-in-team, @backend-team, @frontend-team

feat: Complete Firestore migration for feedback system
  docs/FEEDBACK_DEPLOYMENT_CHECKLIST.md
  docs/FEEDBACK_INTEGRATION_VERIFICATION.md
  docs/FEEDBACK_MIGRATION_COMPLETE.md
  firestore.indexes.json
  src/components/feedback/FeedbackForm.test.tsx
  src/components/layout/ClientLayout.test.tsx
  src/components/ui/__tests__/button.test.tsx
  src/lib/services/feedbackService.test.ts
  src/lib/services/userService.test.ts
  src/lib/utils.test.ts
Owners: @tech-writers, @schools-in-team, @frontend-team

feat: migrate PWA from next-pwa to Serwist
  docs/pwa-migration-to-serwist.md
  next.config.js
  package-lock.json
  package.json
  public/sw.js
  public/swe-worker-ab00d3c7d2d59769.js
  src/app/sw.ts
Owners: @tech-writers, @schools-in-team

feat: modernize TypeScript config and fix unused variables
  cypress/e2e/performance-accessibility.cy.ts
  cypress/e2e/provider-flow.cy.ts
  functions/package.json
  src/app/admin/assignments/page.tsx
  src/app/admin/reports/page.tsx
  src/app/admin/schools/__tests__/page.test.tsx
  src/app/admin/schools/page.tsx
  src/app/admin/users/page.tsx
  src/app/api/locations/__tests__/route.test.ts
  src/types/jest-dom.d.ts
  tsconfig.json
Owners: @qa-team, @schools-in-team, @backend-team

Update service manager and offline functionality
  public/sw.js
  src/app/api/locations/__tests__/route.test.ts
  src/app/api/locations/route.ts
  src/app/api/sessions/__tests__/route.test.ts
  src/app/api/sessions/route.ts
  src/lib/hooks/useNetworkStatus.ts
  src/lib/offline/actionQueue.ts
  src/lib/offline/offlineDB.ts
  src/lib/offline/queueManager.ts
  src/lib/offline/serviceManager.ts
  src/lib/services/serviceManager.ts
Owners: @schools-in-team, @backend-team

Improve Firestore deployment error handling and add permissions fix guide
  .github/workflows/deploy.yml
  docs/firestore-api-permissions-fix.md
Owners: @devops-team, @schools-in-team, @tech-writers

Add alternative Firestore rules deployment via REST API
  .github/workflows/deploy.yml
  docs/firestore-api-permissions-fix.md
  scripts/deploy-firestore-rules.sh
Owners: @devops-team, @schools-in-team, @tech-writers

Revert to previous working deploy.yml
  .github/workflows/deploy.yml
Owners: @devops-team, @schools-in-team

Fix: Migrate functions to TypeScript and resolve build errors
  functions/lib/index.js
  functions/lib/index.js.map
  functions/package.json
  functions/src/index.ts
  functions/tsconfig.json
Owners: @schools-in-team

Updated AGENTS.md, service worker, and package.lock files.
  AGENTS.md
  package-lock.json
  public/sw.js
Owners: @schools-in-team

feat: Add Firestore index for sessions collection and update stale session query to include paused status and set `checkOutTime` to `cutoff`.
  firestore.indexes.json
  functions/src/index.ts
Owners: @schools-in-team

feat: reduce session timeout from 12 to 2 hours and dynamically calculate session limit from config.
  functions/src/index.ts
Owners: @schools-in-team

refactor: improve code readability and update session location name fallback to use `session.name`
  src/components/provider/SessionStatus.tsx
Owners: @frontend-team, @schools-in-team

fix: Add `as any` type assertion to router push and reformat dashboard page.
  src/app/dashboard/page.tsx
Owners: @schools-in-team

fix(sessions): optimize cleanup frequency and secure session start
  functions/src/index.ts
  src/lib/hooks/useSession.ts
Owners: @schools-in-team

feat: Reduce session timeout to 2 hours, increase cleanup frequency to 15 minutes, include paused sessions in cleanup, and limit batch size.
  functions/lib/index.js
  functions/lib/index.js.map
  public/sw.js
Owners: @schools-in-team

Fix session auto-timeout: Add missing fields to cleanupStaleSessions
  functions/lib/index.js
  functions/lib/index.js.map
  functions/src/index.ts
  src/lib/firebase/types.ts
Owners: @schools-in-team, @security-team, @backend-team

feat: dashboard UI refresh with new components and styling
  components.json
  docs/dashboard-ui-refresh-summary.md
  package-lock.json
  package.json
  public/sw.js
  src/app/dashboard/page.tsx
  src/app/globals.css
  src/components/admin/AdminDashboard.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/dashboard/ActivityList.tsx
  src/components/dashboard/AlertCallout.tsx
  src/components/dashboard/DashboardShell.tsx
  src/components/dashboard/PageHeader.tsx
  src/components/dashboard/SectionCard.tsx
  src/components/dashboard/StatCard.tsx
  src/components/dashboard/index.ts
  src/components/provider/SessionStatus.tsx
  src/components/ui/avatar.tsx
  src/components/ui/collapsible.tsx
  tailwind.config.js
Owners: @schools-in-team, @tech-writers, @frontend-team

Add 'error' status to admin session update rules
  firestore.rules
Owners: @backend-team, @schools-in-team

Fix missing Card import in AdminDashboard loading state
  public/sw.js
  src/components/admin/AdminDashboard.tsx
Owners: @schools-in-team, @frontend-team

Fix Radix Select empty value error in report filters
  public/sw.js
  src/components/admin/AttendanceSummary.tsx
  src/components/admin/SessionReports.tsx
Owners: @schools-in-team, @frontend-team

Refactor AttendanceSummary state variable naming for clarity
  src/components/admin/AttendanceSummary.tsx
Owners: @frontend-team, @schools-in-team

Refactor AdminDashboard layout and improve activity message formatting
  src/components/admin/AdminDashboard.tsx
Owners: @frontend-team, @schools-in-team
