Repository Arrthurr/schools-in, changes with the owners that .github/CODEOWNERS names for each.
All owners: @schools-in-team, @frontend-team, @backend-team, @devops-team, @qa-team, @performance-team, @tech-writers, @security-team

.github/CODEOWNERS:

# Global owners
* @schools-in-team

# Frontend components
/src/components/ @frontend-team @schools-in-team

# Backend/API routes
/src/app/api/ @backend-team @schools-in-team

# Firebase configuration
firebase.json @backend-team @schools-in-team
firestore.rules @backend-team @schools-in-team  
storage.rules @backend-team @schools-in-team

# CI/CD workflows
/.github/workflows/ @devops-team @schools-in-team

# Performance and accessibility
/cypress/e2e/performance-accessibility.cy.ts @qa-team @schools-in-team
/src/lib/performance/ @performance-team @schools-in-team
/src/lib/testing/ @qa-team @schools-in-team

# Documentation
/docs/ @tech-writers @schools-in-team
README.md @tech-writers @schools-in-team

# Security-sensitive files
/src/lib/firebase/ @security-team @backend-team @schools-in-team
/.env* @security-team @backend-team @schools-in-team

fix: update firestore rules tests to match callable-only session model
  tests/firestore.rules.test.js
Owners: @schools-in-team

Feature/provider manual checkin (#89)
  firestore.rules
  functions/src/index.ts
  junit.xml
  src/app/dashboard/page.tsx
  src/components/provider/ProviderManualCheckInOut.test.tsx
  src/components/provider/ProviderManualCheckInOut.tsx
  src/components/provider/SessionStatus.tsx
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
  src/lib/hooks/__tests__/useAutoGeofencePreference.test.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useAutoGeofencePreference.test.ts
  src/lib/hooks/useAutoGeofencePreference.ts
  src/lib/hooks/useCachedAuth.ts
  src/lib/hooks/useScheduleGate.test.ts
  src/lib/hooks/useScheduleGate.ts
  src/lib/services/__tests__/cachedSessionService.test.ts
  src/lib/services/cachedSessionService.ts
  tests/firestore.rules.test.js
Owners: @backend-team, @schools-in-team, @frontend-team

fix: update dashboard auto check-in description for clarity
  src/app/dashboard/page.tsx
Owners: @schools-in-team

Add and update tests: schoolService, userService, geo utils, hooks, bulkSchoolOperations; update jest config
  jest.config.js
  src/lib/hooks/useCachedAuth.test.tsx
  src/lib/hooks/useScheduleGate.test.ts
  src/lib/services/bulkSchoolOperations.test.ts
  src/lib/services/schoolService.test.ts
  src/lib/services/userService.test.ts
  src/lib/utils/__tests__/geo.test.ts
Owners: @schools-in-team

Add CLAUDE.md with project guidance for Claude Code
  CLAUDE.md
Owners: @schools-in-team

fix: resolve TypeScript errors in test files failing CI
  src/lib/hooks/useCachedAuth.test.tsx
  src/lib/services/userService.test.ts
Owners: @schools-in-team

feat(schedules): add dedicated admin and provider schedule pages
  docs/plans/2026-03-16-001-feat-schedules-admin-page-provider-view-plan.md
  src/app/admin/schedules/page.tsx
  src/app/admin/users/page.tsx
  src/app/dashboard/schedules/page.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/provider/ProviderNavigation.tsx
  src/components/schedules/ScheduleManager.tsx
Owners: @tech-writers, @schools-in-team, @frontend-team

feat(schedules): add dedicated admin and provider schedule pages (#90)
  docs/plans/2026-03-16-001-feat-schedules-admin-page-provider-view-plan.md
  src/app/admin/schedules/page.tsx
  src/app/admin/users/page.tsx
  src/app/dashboard/schedules/page.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/provider/ProviderNavigation.tsx
  src/components/schedules/ScheduleManager.tsx
Owners: @tech-writers, @schools-in-team, @frontend-team

fix(schedules): resolve P1 review findings
  src/app/admin/users/page.tsx
  src/components/provider/ProviderNavigation.tsx
  src/components/schedules/ScheduleManager.tsx
Owners: @schools-in-team, @frontend-team

fix(schedules): address P2/P3 review findings
  docs/agents/architecture.md
  src/app/admin/schedules/page.tsx
  src/app/dashboard/schedules/page.tsx
  src/components/schedules/ScheduleManager.tsx
  src/lib/utils/time.ts
Owners: @tech-writers, @schools-in-team, @frontend-team

Feat/schedules admin provider pages (#91)
  docs/agents/architecture.md
  src/app/admin/schedules/page.tsx
  src/app/admin/users/page.tsx
  src/app/dashboard/schedules/page.tsx
  src/components/provider/ProviderNavigation.tsx
  src/components/schedules/ScheduleManager.tsx
  src/lib/utils/time.ts
Owners: @tech-writers, @schools-in-team, @frontend-team

fix: normalize location coords for geofence + manual check UI
  src/components/admin/AdminManualCheckInOut.tsx
  src/components/provider/ProviderManualCheckInOut.tsx
  src/components/provider/SessionStatus.tsx
  src/lib/firebase/cachedFirestore.ts
  src/lib/utils/__tests__/geo.test.ts
  src/lib/utils/geo.ts
Owners: @frontend-team, @schools-in-team, @security-team, @backend-team

fix: harden geo normalization per oracle review
  src/components/provider/SessionStatus.tsx
  src/lib/firebase/cachedFirestore.ts
  src/lib/utils/geo.ts
Owners: @frontend-team, @schools-in-team, @security-team, @backend-team

fix(admin): load schools missing geo or string lat/lng
  src/lib/services/cachedSchoolService.ts
  src/lib/services/locationNormalizer.test.ts
  src/lib/services/locationNormalizer.ts
Owners: @schools-in-team

feat(admin/schools): show weekly session count on school cards
  src/app/admin/schools/page.test.tsx
  src/app/admin/schools/page.tsx
Owners: @schools-in-team

fix: preserve session count on edit, fix pluralization
  src/app/admin/schools/page.test.tsx
  src/app/admin/schools/page.tsx
Owners: @schools-in-team

Feature/school card session count (#92)
  src/app/admin/schools/page.test.tsx
  src/app/admin/schools/page.tsx
  src/lib/services/cachedSchoolService.ts
  src/lib/services/locationNormalizer.test.ts
  src/lib/services/locationNormalizer.ts
Owners: @schools-in-team

chore: bump GitHub Actions to v6 for Node.js 24 runtime
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Owners: @devops-team, @schools-in-team

test: close critical test coverage gaps across all priorities
  functions/src/__tests__/cleanupLogic.test.ts
  functions/src/__tests__/sessionLifecycle.test.ts
  functions/src/cleanupLogic.ts
  functions/src/index.ts
  functions/src/sessionLifecycle.ts
  jest.config.js
  package.json
  src/components/admin/SessionManagement.test.tsx
  src/lib/services/__tests__/reportScheduleService.test.ts
  src/lib/services/__tests__/scheduleService.test.ts
Owners: @schools-in-team, @frontend-team

feat: show PWA install guidance when push notifications unavailable
  src/components/admin/AdminDashboard.tsx
  src/lib/hooks/usePWAInstallState.ts
Owners: @frontend-team, @schools-in-team

feat: show PWA install guidance when push notifications unavailable (#93)
  src/components/admin/AdminDashboard.tsx
  src/lib/hooks/usePWAInstallState.ts
Owners: @frontend-team, @schools-in-team

fix: separate delete rule for pushSubscriptions to fix admin alert disable
  firestore.rules
Owners: @backend-team, @schools-in-team

fix: admin alerts re-enable after disable on iOS PWA
  src/components/admin/AdminDashboard.tsx
  src/lib/pwa/pushReminders.ts
Owners: @frontend-team, @schools-in-team

fix: admin alerts re-enable after disable on iOS PWA (#94)
  src/components/admin/AdminDashboard.tsx
  src/lib/pwa/pushReminders.ts
Owners: @frontend-team, @schools-in-team

docs: expand CLAUDE.md commands and fix architecture stale session timings
  CLAUDE.md
  docs/agents/architecture.md
Owners: @schools-in-team, @tech-writers

feat(session-notes): add updateSessionNote CF, Notification type, and Firestore rules
  firestore.rules
  functions/src/index.ts
  functions/src/sessionLifecycle.ts
  src/lib/firebase/types.ts
Owners: @backend-team, @schools-in-team, @security-team

feat(session-notes): wire notes through offline queue chain
  src/components/provider/CheckInButton.test.tsx
  src/components/provider/SessionHistory.test.tsx
  src/lib/hooks/useSession.ts
  src/lib/offline/actionQueue.ts
  src/lib/offline/queueManager.ts
Owners: @frontend-team, @schools-in-team

feat(session-notes): add provider UI for session notes
  src/app/provider/feedback/page.tsx
  src/components/provider/CheckInButton.tsx
  src/components/provider/ProviderNavigation.tsx
  src/components/provider/SessionDetailModal.tsx
  src/components/provider/SessionHistory.tsx
  src/components/provider/SessionNoteEditor.tsx
  src/components/provider/SessionNotesList.tsx
Owners: @schools-in-team, @frontend-team

feat(admin): wire NotificationBell and AdminSessionNotes into admin UI
  src/app/admin/feedback/page.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/admin/AdminSessionNotes.tsx
Owners: @schools-in-team, @frontend-team

refactor: remove feedback system and fix tests for session notes
  docs/plans/2026-03-23-001-feat-provider-session-notes-plan.md
  firestore.rules
  src/components/feedback/FeedbackForm.test.tsx
  src/components/feedback/FeedbackForm.tsx
  src/components/provider/SessionDetailModal.test.tsx
  src/components/ui/NotificationBell.tsx
  src/lib/firebase/types.ts
  src/lib/hooks/__tests__/useSession.test.tsx
  src/lib/hooks/useNotifications.ts
  src/lib/offline/__tests__/actionQueue.test.ts
  src/lib/offline/__tests__/queueManager.test.ts
  src/lib/services/feedbackService.test.ts
  src/lib/services/feedbackService.ts
Owners: @tech-writers, @schools-in-team, @backend-team, @frontend-team, @security-team

docs: mark session notes plan as completed
  docs/plans/2026-03-23-001-feat-provider-session-notes-plan.md
Owners: @tech-writers, @schools-in-team

feat: provider session notes with admin notifications (#95)
  docs/plans/2026-03-23-001-feat-provider-session-notes-plan.md
  firestore.rules
  functions/src/index.ts
  functions/src/sessionLifecycle.ts
  src/app/admin/feedback/page.tsx
  src/app/provider/feedback/page.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/admin/AdminSessionNotes.tsx
  src/components/feedback/FeedbackForm.test.tsx
  src/components/feedback/FeedbackForm.tsx
  src/components/provider/CheckInButton.test.tsx
  src/components/provider/CheckInButton.tsx
  src/components/provider/ProviderNavigation.tsx
  src/components/provider/SessionDetailModal.test.tsx
  src/components/provider/SessionDetailModal.tsx
  src/components/provider/SessionHistory.test.tsx
  src/components/provider/SessionHistory.tsx
  src/components/provider/SessionNoteEditor.tsx
  src/components/provider/SessionNotesList.tsx
  src/components/ui/NotificationBell.tsx
  src/lib/firebase/types.ts
  src/lib/hooks/__tests__/useSession.test.tsx
  src/lib/hooks/useNotifications.ts
  src/lib/hooks/useSession.ts
  src/lib/offline/__tests__/actionQueue.test.ts
  src/lib/offline/__tests__/queueManager.test.ts
  src/lib/offline/actionQueue.ts
  src/lib/offline/queueManager.ts
  src/lib/services/feedbackService.test.ts
  src/lib/services/feedbackService.ts
Owners: @tech-writers, @schools-in-team, @backend-team, @frontend-team, @security-team

feat(session-notes): add updateSessionNote CF, Notification type, and Firestore rules
  src/lib/firebase/types.ts
Owners: @security-team, @backend-team, @schools-in-team

refactor: remove feedback system and fix tests for session notes
  src/lib/firebase/types.ts
Owners: @security-team, @backend-team, @schools-in-team

test: add comprehensive test coverage for notes refactor (P0–P2)
  functions/src/__tests__/updateSessionNote.test.ts
  src/app/admin/notes/page.test.tsx
  src/app/provider/notes/page.test.tsx
  src/components/admin/AdminSessionNotes.test.tsx
  src/components/provider/SessionNoteEditor.test.tsx
  src/components/provider/SessionNotesList.test.tsx
  src/lib/hooks/__tests__/useNotifications.test.tsx
  src/lib/hooks/__tests__/useSession.test.tsx
  src/lib/offline/__tests__/actionQueue.notes.test.ts
  src/lib/offline/__tests__/queueManager.notes.test.ts
Owners: @schools-in-team, @frontend-team

fix(admin): show error state and display sessions before name hydration in AdminSessionNotes
  docs/plans/2026-03-24-001-fix-admin-session-notes-visibility-plan.md
  src/components/admin/AdminSessionNotes.test.tsx
  src/components/admin/AdminSessionNotes.tsx
Owners: @tech-writers, @schools-in-team, @frontend-team

fix(admin): address code review findings for AdminSessionNotes
  docs/agents/architecture.md
  src/components/admin/AdminSessionNotes.test.tsx
  src/components/admin/AdminSessionNotes.tsx
  todos/018-done-p1-loadnames-silent-catch-missing-applogger.md
  todos/019-done-p2-admin-notes-error-logging-and-ui-sanitisation.md
  todos/020-done-p2-admin-notes-duplicate-error-header.md
  todos/021-done-p3-admin-notes-retry-button-untested.md
  todos/022-done-p3-architecture-docs-session-notes-pagination-joins.md
Owners: @tech-writers, @schools-in-team, @frontend-team

chore: add compound-engineering config and mark plan completed
  compound-engineering.local.md
  docs/plans/2026-03-24-001-fix-admin-session-notes-visibility-plan.md
Owners: @schools-in-team, @tech-writers

docs: add solution for silent error swallowing / empty state failures
  docs/solutions/runtime-errors/silent-error-swallowing-empty-state-failures.md
Owners: @tech-writers, @schools-in-team

fix(admin): surface query errors and decouple name hydration in AdminSessionNotes (#97)
  compound-engineering.local.md
  docs/agents/architecture.md
  docs/plans/2026-03-24-001-fix-admin-session-notes-visibility-plan.md
  docs/solutions/runtime-errors/silent-error-swallowing-empty-state-failures.md
  src/components/admin/AdminSessionNotes.test.tsx
  src/components/admin/AdminSessionNotes.tsx
  todos/018-done-p1-loadnames-silent-catch-missing-applogger.md
  todos/019-done-p2-admin-notes-error-logging-and-ui-sanitisation.md
  todos/020-done-p2-admin-notes-duplicate-error-header.md
  todos/021-done-p3-admin-notes-retry-button-untested.md
  todos/022-done-p3-architecture-docs-session-notes-pagination-joins.md
Owners: @schools-in-team, @tech-writers, @frontend-team
