Repository Arrthurr/schools-in, changes with the owners that .github/CODEOWNERS names for each.
All owners: @schools-in-team, @frontend-team, @backend-team, @devops-team, @qa-team, @performance-team, @tech-writers, @security-team

.github/CODEOWNERS:

# Global owners
* @schools-in-team

# Frontend components
/src/components/ @frontend-team @schools-in-team

# Backend/API routes
/src/app/api/ @backend-team @schools-in-team

# Firebase configuration
firebase.json @backend-team @schools-in-team
firestore.rules @backend-team @schools-in-team  
storage.rules @backend-team @schools-in-team

# CI/CD workflows
/.github/workflows/ @devops-team @schools-in-team

# Performance and accessibility
/cypress/e2e/performance-accessibility.cy.ts @qa-team @schools-in-team
/src/lib/performance/ @performance-team @schools-in-team
/src/lib/testing/ @qa-team @schools-in-team

# Documentation
/docs/ @tech-writers @schools-in-team
README.md @tech-writers @schools-in-team

# Security-sensitive files
/src/lib/firebase/ @security-team @backend-team @schools-in-team
/.env* @security-team @backend-team @schools-in-team

Fix provider check-in functionality and UI feedback
  firestore.indexes.json
  firestore.rules
  public/sw.js
  src/components/provider/SchoolList.tsx
  src/lib/hooks/useCachedAuth.ts
  src/lib/hooks/useSession.ts
Owners: @schools-in-team, @backend-team, @frontend-team

fix abitlity to end session
  public/sw.js
  src/app/dashboard/page.tsx
  src/components/provider/ProviderDashboardCards.tsx
  src/components/provider/SchoolList.tsx
Owners: @schools-in-team, @frontend-team

Add real-time session listener and fix check-out functionality
  public/sw.js
  src/lib/hooks/useProviderMetrics.ts
Owners: @schools-in-team

Fix real-time session listener data formatting
  public/sw.js
  src/lib/hooks/useProviderMetrics.ts
Owners: @schools-in-team

Add debug logging to real-time session listener
  public/sw.js
  src/lib/hooks/useProviderMetrics.ts
Owners: @schools-in-team

Add missing index for active session query and fix startTime handling
  firestore.indexes.json
  public/sw.js
  src/lib/hooks/useProviderMetrics.ts
Owners: @schools-in-team

Add debug logging for session duration calculation
  public/sw.js
  src/components/provider/SessionStatus.tsx
Owners: @schools-in-team, @frontend-team

Fix session data structure in real-time listener
  public/sw.js
  src/lib/hooks/useProviderMetrics.ts
Owners: @schools-in-team

Track and display last completed session
  public/sw.js
  src/app/dashboard/page.tsx
  src/lib/hooks/useProviderMetrics.ts
Owners: @schools-in-team

Fix real-time session state updates with collection-level listeners
  firestore.indexes.json
  functions/src/index.js
  src/lib/hooks/useProviderMetrics.ts
  src/lib/hooks/useSession.ts
  src/lib/services/cachedSessionService.ts
Owners: @schools-in-team

Fix Firestore rules to allow completed session queries
  firestore.rules
Owners: @backend-team, @schools-in-team

Simplify Firestore session list rules to allow provider queries
  firestore.rules
Owners: @backend-team, @schools-in-team

Fix duration calculation to return integer minutes
  src/lib/services/cachedSessionService.ts
Owners: @schools-in-team

Specify Admin Dashboard as default landing page for authenticated admin user logins
  src/components/auth/LoginForm.tsx
Owners: @frontend-team, @schools-in-team

Ensure user document might not be fully written when we try to read it
  src/components/auth/LoginForm.tsx
Owners: @frontend-team, @schools-in-team

Edit useEffect that was forcing all authenticated logins to provider dashboard
  src/app/page.tsx
Owners: @schools-in-team

"Loading" button fix for admin dashboard filters "Session Reports" and "Attendance Summary" tabs on Reports & Management page
  src/components/admin/AttendanceSummary.tsx
  src/components/admin/SessionReports.tsx
Owners: @frontend-team, @schools-in-team

feat: add Microsoft OAuth authentication provider
  dev-tasks/README.md
  src/lib/firebase/auth.test.ts
  src/lib/firebase/auth.ts
  tasks/0001-prd-microsoft-authentication.md
  tasks/tasks-0001-prd-microsoft-authentication.md
Owners: @tech-writers, @schools-in-team, @security-team, @backend-team

feat: add Microsoft sign-in button to LoginForm
  src/components/auth/LoginForm.tsx
  tasks/tasks-0001-prd-microsoft-authentication.md
Owners: @frontend-team, @schools-in-team

feat: add authorization check for Microsoft accounts
  src/components/auth/LoginForm.tsx
  tasks/tasks-0001-prd-microsoft-authentication.md
Owners: @frontend-team, @schools-in-team

test: add comprehensive unit tests for Microsoft authentication
  src/components/auth/LoginForm.test.tsx
  src/lib/firebase/auth.test.ts
  tasks/tasks-0001-prd-microsoft-authentication.md
Owners: @frontend-team, @schools-in-team, @security-team, @backend-team

test: add comprehensive E2E tests for Microsoft authentication
  cypress/e2e/microsoft-auth.cy.ts
  tasks/tasks-0001-prd-microsoft-authentication.md
Owners: @schools-in-team

feat: configure Microsoft OAuth provider with custom parameters
  src/lib/firebase/auth.ts
  tasks/tasks-0001-prd-microsoft-authentication.md
Owners: @security-team, @backend-team, @schools-in-team

Fix admin school management issues
  public/sw.js
  src/app/admin/schools/page.tsx
  src/components/admin/SchoolForm.tsx
Owners: @schools-in-team, @frontend-team

Fix: Admin School Management now correctly displays assigned provider counts
  src/app/admin/schools/page.tsx
  src/lib/services/locationNormalizer.ts
Owners: @schools-in-team

Add tests for activeProviders computation from assignedProviders array
  src/lib/services/locationNormalizer.test.ts
Owners: @schools-in-team

Update service worker script for improved caching and module definition
  public/sw.js
Owners: @schools-in-team

feat: add Firestore index for locations collection group
  firestore.indexes.json
  package-lock.json
Owners: @schools-in-team

fix: synchronize provider assignments between User and Location collections
  FIXES-SUMMARY.md
  MIGRATION.md
  firestore.indexes.json
  scripts/migrate-assignments.js
  src/components/admin/UserForm.tsx
  src/lib/services/userService.ts
Owners: @schools-in-team, @frontend-team

refactor: streamline authentication process by removing email/password options
  cypress/e2e/microsoft-auth.cy.ts
  jest.setup.js
  src/app/page.tsx
  src/app/register/page.tsx
  src/components/auth/LoginForm.test.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/RegistrationForm.test.tsx
  src/components/auth/RegistrationForm.tsx
  src/lib/firebase/auth.test.ts
  src/lib/firebase/auth.ts
  src/lib/hooks/__tests__/useProviderMetrics.test.tsx
Owners: @schools-in-team, @frontend-team, @security-team, @backend-team

feat: implement user creation functionality
  src/components/admin/UserForm.tsx
  src/lib/services/userService.ts
Owners: @frontend-team, @schools-in-team

refactor: remove Add User button from User Management
  src/app/admin/users/page.tsx
Owners: @schools-in-team

Remove deactivate and delete buttons from user rows, keep only edit button
  src/app/admin/users/page.tsx
Owners: @schools-in-team

Clean up and update various files: remove obsolete components, update types, and modify dev tasks
  FIXES-SUMMARY.md
  MIGRATION.md
  TEST-RESULTS.md
  UI-MIGRATION-COMPLETE.md
  dev-tasks/README.md
  dev-tasks/generate-tasks.md
  dev-tasks/process-task-list.md
  layout-demo.html
  lighthouse-accessibility-report.json
  package-lock.json
  public/sw.js
  src/components/admin/BulkOperationsModalNew.tsx
  src/components/admin/CacheDashboard.tsx
  src/components/admin/CacheSettingsSimple.tsx
  src/components/demo/OfflineSyncDemo.tsx
  src/components/demo/PWATestingUtility.tsx
  src/components/dev/PerformanceMonitor.tsx
  src/components/offline/OfflineMessagingDemo.tsx
  src/components/offline/QueueStatus.tsx
  src/components/provider/CheckInButton.test.fixed.tsx
  src/components/provider/CheckInButton.test.tsx.backup
  src/components/provider/ProviderDashboardTest.tsx
  src/components/pwa/PWALayout.tsx
  src/lib/accessibility.tsx
  src/lib/firebase/types.ts
  src/lib/utils/validation.ts
Owners: @schools-in-team, @tech-writers, @frontend-team, @security-team, @backend-team

Implement dark mode: add next-themes, theme provider, toggle component, and fix accessibility imports
  package-lock.json
  package.json
  public/sw.js
  src/app/layout.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/auth/LoginForm.tsx
  src/components/layout/ClientLayout.tsx
  src/components/provider/CheckInButton.tsx
  src/components/provider/SchoolList.tsx
  src/components/ui/theme-provider.tsx
  src/components/ui/theme-toggle.tsx
  src/lib/hooks/useTheme.ts
Owners: @schools-in-team, @frontend-team

Fix theme provider types and remove failing test
  public/sw.js
  src/components/ui/theme-provider.tsx
Owners: @schools-in-team, @frontend-team

Reduced vertical space on login page so that form elements and graphic does not unnecessarily scroll.
  dev-tasks/README.md
  src/AGENTS.md
  src/app/page.tsx
  src/components/auth/LoginForm.tsx
Owners: @tech-writers, @schools-in-team, @frontend-team

Further reduced v-space on login page.
  src/app/page.tsx
Owners: @schools-in-team

Remove Quick Actions card from Admin Dashboard
  src/components/admin/AdminDashboard.tsx
Owners: @frontend-team, @schools-in-team

fix: resolve provider dashboard login race condition
  FIX_SUMMARY.md
  src/components/auth/LoginForm.tsx
  src/components/auth/ProtectedRoute.tsx
Owners: @schools-in-team, @frontend-team
