Repository Arrthurr/schools-in, changes with the owners that .github/CODEOWNERS names for each.
All owners: @schools-in-team, @frontend-team, @backend-team, @devops-team, @qa-team, @performance-team, @tech-writers, @security-team

.github/CODEOWNERS:

# Global owners
* @schools-in-team

# Frontend components
/src/components/ @frontend-team @schools-in-team

# Backend/API routes
/src/app/api/ @backend-team @schools-in-team

# Firebase configuration
firebase.json @backend-team @schools-in-team
firestore.rules @backend-team @schools-in-team  
storage.rules @backend-team @schools-in-team

# CI/CD workflows
/.github/workflows/ @devops-team @schools-in-team

# Performance and accessibility
/cypress/e2e/performance-accessibility.cy.ts @qa-team @schools-in-team
/src/lib/performance/ @performance-team @schools-in-team
/src/lib/testing/ @qa-team @schools-in-team

# Documentation
/docs/ @tech-writers @schools-in-team
README.md @tech-writers @schools-in-team

# Security-sensitive files
/src/lib/firebase/ @security-team @backend-team @schools-in-team
/.env* @security-team @backend-team @schools-in-team

fix: stabilize network status reference to prevent infinite re-renders in offline messaging and queue management
  public/sw.js
  src/components/offline/OfflineMessaging.tsx
  src/lib/hooks/useEnhancedOfflineQueue.ts
  src/lib/hooks/useNetworkStatus.ts
Owners: @schools-in-team, @frontend-team

feat: add PWA meta tags for mobile support and implement related tests
  AGENTS.md
  cypress/e2e/meta_tags.cy.ts
  public/index.html
  public/sw.js
  src/app/head.tsx
  src/app/layout.tsx
Owners: @schools-in-team

feat: update logo to use alpha version and enhance logo component
  next.config.js
  package-lock.json
  public/DMDL_logo_alpha.png
  public/manifest.json
  public/sw.js
  src/app/layout.tsx
  src/components/ui/logo.tsx
  src/lib/utils/imagePreloader.ts
Owners: @schools-in-team, @frontend-team

feat: add new images for signin page and update layout for improved accessibility
  .playwright-mcp/signin-or-continue-with.png
  .playwright-mcp/signin-page-layout.png
  .playwright-mcp/signin-updated-layout.png
  src/components/auth/LoginForm.tsx
Owners: @schools-in-team, @frontend-team

feat: enhance login functionality with redirect support and prefetching for dashboard
  src/app/page.tsx
  src/components/auth/LoginForm.test.tsx
  src/components/auth/LoginForm.tsx
Owners: @schools-in-team, @frontend-team

refactor: simplify login redirection logic and enhance suspense handling for LoginForm
  src/app/page.tsx
Owners: @schools-in-team

fix: correct className syntax for sidebar component in DashboardPage
  src/app/dashboard/page.tsx
Owners: @schools-in-team

feat: add new layout images for desktop and mobile views in Playwright MCP
  .playwright-mcp/current-layout-desktop.png
  .playwright-mcp/layout-fixed-desktop.png
  .playwright-mcp/layout-mobile-unchanged.png
  layout-demo.html
Owners: @schools-in-team

Fixed testing and linting errors.
  .sentryclirc
  eslint.config.mjs
  public/sw.js
  src/app/admin/assignments/page.tsx
  src/lib/firebase/cachedFirestore.ts
  src/lib/firebase/firestore.ts
  src/lib/firebase/types.ts
  src/lib/hooks/useLocation.ts
  src/lib/services/cachedSchoolService.ts
  src/lib/services/cachedUserService.ts
  src/lib/services/schoolService.ts
  src/lib/utils/environmentValidator.ts
  src/types/jest.d.ts
  tsconfig.json
Owners: @schools-in-team, @security-team, @backend-team

refactor: clean up whitespace and improve layout responsiveness in SchoolList component
  public/sw.js
  src/components/provider/SchoolList.tsx
Owners: @schools-in-team, @frontend-team

refactor: improve layout responsiveness and accessibility in SchoolList component
  public/sw.js
  src/components/provider/SchoolList.tsx
Owners: @schools-in-team, @frontend-team

refactor: enhance layout spacing and text overflow handling in SchoolList component
  src/components/provider/SchoolList.tsx
Owners: @frontend-team, @schools-in-team

feat: implement foundation for Firestore dashboard integration
  AGENTS.md
  firestore.indexes.json
  firestore.rules
  public/sw.js
  src/app/dashboard/page.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/provider/SessionStatus.tsx
  src/lib/firebase/cachedFirestore.ts
  src/lib/firebase/firestore.ts
  src/lib/firebase/types.ts
  src/lib/hooks/useAdminMetrics.ts
  src/lib/hooks/useProviderMetrics.ts
  src/lib/utils/csv.ts
  src/lib/utils/dateTime.ts
  src/lib/utils/geo.ts
  src/lib/utils/time.ts
  tasks/prd-firestore-dashboards.md
  tasks/tasks-prd-firestore-dashboards.md
Owners: @schools-in-team, @backend-team, @frontend-team, @security-team

Complete Section 2.0 Core Services Implementation
  firebase.config.js
  functions/src/index.js
  src/lib/services/cachedSessionService.ts
  tasks/tasks-prd-firestore-dashboards.md
Owners: @schools-in-team

Complete Section 3.0 Provider Dashboard UI Implementation
  src/components/provider/ProviderDashboardCards.tsx
  src/components/provider/ProviderDashboardTest.tsx
  src/lib/hooks/useProviderMetrics.ts
Owners: @frontend-team, @schools-in-team

Add CSV utility functions and tests for session data export
  firebase.config.js
  firestore.rules
  functions/src/index.js
  public/sw.js
  src/app/dashboard/page.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/admin/CsvExportButton.tsx
  src/components/provider/ProviderDashboardCards.tsx
  src/components/provider/ProviderDashboardTest.tsx
  src/lib/firebase/types.ts
  src/lib/hooks/__tests__/useProviderMetrics.test.tsx
  src/lib/hooks/useAutoCheckoutReminder.ts
  src/lib/hooks/useProviderMetrics.ts
  src/lib/services/cachedSessionService.ts
  src/lib/utils/__tests__/csv.test.ts
  src/lib/utils/csv.ts
  src/lib/utils/geo.ts
  src/lib/utils/time.ts
  tasks/tasks-prd-firestore-dashboards.md
Owners: @schools-in-team, @backend-team, @frontend-team, @security-team

update Firestore with additional collections
  public/sw.js
  scripts/seed-database.js
Owners: @schools-in-team

Removed unneeded 'skip' element
  public/sw.js
  src/app/layout.tsx
Owners: @schools-in-team

Add script to update school check-in radius and enhance CheckInButton with debug logging
  scripts/update-school-radius-direct.ts
  src/components/provider/CheckInButton.tsx
Owners: @schools-in-team, @frontend-team

Refactor Firebase deployment workflow to use CLI for hosting and firestore only
  .github/workflows/deploy.yml
Owners: @devops-team, @schools-in-team

Integrate Google Maps functionality into the application
  .github/workflows/deploy.yml
  docs/google-maps-integration-summary.md
  docs/react-google-maps_answers.md
  firebase.json
  package-lock.json
  package.json
  public/sw.js
  scripts/deploy-production.sh
  src/AGENTS.md
  src/components/admin/SchoolForm.tsx
  src/components/maps/GoogleMap.tsx
  src/components/maps/LocationPicker.tsx
  src/components/maps/NavigationButton.tsx
  src/components/maps/__tests__/GoogleMap.test.tsx
  src/components/maps/__tests__/LocationPicker.test.tsx
  src/components/maps/__tests__/NavigationButton.test.tsx
  src/components/provider/SchoolDetailView.tsx
  src/lib/services/locationValidationService.ts
Owners: @devops-team, @schools-in-team, @tech-writers, @backend-team, @frontend-team

Add authentication bypass for Google Maps testing
  .github/workflows/deploy.yml
  docs/auth-bypass-testing-guide.md
  docs/authentication-bypass-summary.md
  src/lib/firebase/authBypass.ts
  src/lib/hooks/useAuth.ts
  src/lib/hooks/useCachedAuth.ts
Owners: @devops-team, @schools-in-team, @tech-writers, @security-team, @backend-team

Refactor SchoolList component to use CachedSchoolService and optimize distance calculations
  src/components/provider/SchoolList.tsx
Owners: @frontend-team, @schools-in-team

Enhance Firestore security rules for locations collection
  firestore.rules
Owners: @backend-team, @schools-in-team

Update mock authentication state in useAuth hook for testing
  src/lib/hooks/useAuth.ts
Owners: @schools-in-team

Add code review checklist and security audit documentation
  .cursor/commands/code-review-checklist.md
  .cursor/commands/security-audit.md
  public/sw.js
  src/components/provider/CheckInButton.test.tsx
  src/components/provider/CheckInButton.tsx
  src/components/provider/SchoolList.test.tsx
  src/lib/hooks/__tests__/useOfflineQueue.test.tsx
  src/lib/hooks/__tests__/useProviderMetrics.test.tsx
  src/lib/hooks/useCachedAuth.ts
  src/lib/offline/__tests__/queueManager.test.ts
Owners: @schools-in-team, @frontend-team

Refactor School Management to Utilize CachedSchoolService and Normalize Location Data
  .vscode/settings.json
  jest.config.js
  src/app/admin/schools/page.tsx
  src/components/admin/SchoolForm.test.tsx
  src/components/admin/SessionManagement.test.tsx
  src/components/provider/SchoolList.test.tsx
  src/components/provider/SchoolList.tsx
  src/components/provider/SessionStatus.test.tsx
  src/components/pwa/PWAInstallPrompt.test.tsx
  src/lib/firebase/cachedFirestore.ts
  src/lib/hooks/__tests__/useOfflineQueue.test.tsx
  src/lib/hooks/useProviderMetrics.ts
  src/lib/offline/cacheManager.ts
  src/lib/services/cachedSchoolService.ts
  src/lib/services/locationNormalizer.test.ts
  src/lib/services/locationNormalizer.ts
Owners: @schools-in-team, @frontend-team, @security-team, @backend-team

Update dependencies in package.json and package-lock.json
  package-lock.json
  package.json
Owners: @schools-in-team

Enhance AGENTS.md with expanded testing and Google Maps integration details
  AGENTS.md
Owners: @schools-in-team

Update Firebase configuration and deployment workflow
  .github/workflows/deploy.yml
  firebase.json
Owners: @devops-team, @schools-in-team, @backend-team

Refine Firebase deployment workflow for improved security and reliability
  .github/workflows/deploy.yml
Owners: @devops-team, @schools-in-team

Fix Firebase Firestore deprecation warning
  firebase.config.js
Owners: @schools-in-team

Fix incorrect method call for checking location document existence in assign-test-provider script
  scripts/assign-test-provider.js
Owners: @schools-in-team

Add script to create missing Firestore user documents and update auth functions for Firestore integration
  scripts/create-missing-users.js
  src/lib/firebase/auth.ts
Owners: @schools-in-team, @security-team, @backend-team

Fix data model: migrate to Location.assignedProviders as single source of truth
  TEST-RESULTS.md
  UI-MIGRATION-COMPLETE.md
  public/sw.js
  src/app/dashboard/page.tsx
  src/components/provider/CheckInButton.tsx
  src/components/provider/SchoolDetailView.tsx
  src/components/provider/SchoolList.tsx
Owners: @schools-in-team, @frontend-team

Update AGENTS.md with latest migration info and locationService usage
  AGENTS.md
Owners: @schools-in-team

Update deploy workflow to enable authentication bypass for testing and add script to update test schools in Firestore
  .github/workflows/deploy.yml
  scripts/update-test-schools.js
Owners: @devops-team, @schools-in-team

Update deploy workflow to disable authentication bypass by default and fix session handling in dashboard
  .github/workflows/deploy.yml
  src/app/dashboard/page.tsx
  src/lib/hooks/useSession.ts
Owners: @devops-team, @schools-in-team

Refactor DashboardPage and useSession hook for improved session management and metrics handling
  src/app/dashboard/page.tsx
  src/lib/hooks/useSession.ts
Owners: @schools-in-team

Add Firestore index for sessions and update UserForm to load schools from CachedSchoolService
  firestore.indexes.json
  src/app/globals.css
  src/components/admin/UserForm.tsx
  src/components/provider/CheckInButton.tsx
Owners: @schools-in-team, @frontend-team
