Repository Arrthurr/schools-in, changes with the owners that .github/CODEOWNERS names for each.
All owners: @schools-in-team, @frontend-team, @backend-team, @devops-team, @qa-team, @performance-team, @tech-writers, @security-team

fix(ci): deploy Firestore indexes alongside rules in CI pipeline
  .github/workflows/deploy.yml
Owners: @devops-team, @schools-in-team

fix: session note submission now triggers admin notification
  docs/plans/2026-03-24-001-fix-session-notes-admin-notification-plan.md
  functions/src/__tests__/endSession.test.ts
  functions/src/__tests__/updateSessionNote.test.ts
  functions/src/index.ts
Owners: @tech-writers, @schools-in-team

Fix/admin session notes visibility (#99)
  .github/workflows/deploy.yml
Owners: @devops-team, @schools-in-team

fix: session note submission now triggers admin notification (#98)
  docs/plans/2026-03-24-001-fix-session-notes-admin-notification-plan.md
  functions/src/__tests__/endSession.test.ts
  functions/src/__tests__/updateSessionNote.test.ts
  functions/src/index.ts
Owners: @tech-writers, @schools-in-team

fix: exclude test files from functions build, add functions deploy step
  functions/tsconfig.json
  public/sw.js
  scripts/deploy-production.sh
Owners: @schools-in-team

Fix/session notes admin notification (#100)
  functions/tsconfig.json
  public/sw.js
  scripts/deploy-production.sh
Owners: @schools-in-team

feat(functions): add checkLateProviders scheduled Cloud Function
  docs/agents/architecture.md
  docs/plans/2026-03-24-001-feat-late-provider-admin-alerts-plan.md
  firestore.indexes.json
  functions/src/__tests__/lateProviderLogic.test.ts
  functions/src/index.ts
  functions/src/lateProviderLogic.ts
Owners: @tech-writers, @schools-in-team

feat(functions): add checkLateProviders scheduled Cloud Function (#101)
  docs/agents/architecture.md
  docs/plans/2026-03-24-001-feat-late-provider-admin-alerts-plan.md
  firestore.indexes.json
  functions/src/__tests__/lateProviderLogic.test.ts
  functions/src/index.ts
  functions/src/lateProviderLogic.ts
Owners: @tech-writers, @schools-in-team

fix(functions): address P1 review findings in checkLateProviders
  firestore.indexes.json
  firestore.rules
  functions/src/__tests__/lateProviderLogic.test.ts
  functions/src/__tests__/utils.test.ts
  functions/src/index.ts
  functions/src/lateProviderLogic.ts
  functions/src/utils.ts
  todos/018-pending-p2-check-late-providers-race-condition.md
  todos/019-pending-p2-late-provider-extract-orchestration-module.md
  todos/020-pending-p2-latenessalerts-type-definition.md
  todos/021-pending-p2-admin-alert-subscription-callable.md
  todos/022-pending-p3-check-late-providers-simplification.md
  todos/023-pending-p3-grace-period-in-firestore-config.md
Owners: @schools-in-team, @backend-team

fix(functions): address P1 review findings in checkLateProviders (#102)
  firestore.indexes.json
  firestore.rules
  functions/src/__tests__/lateProviderLogic.test.ts
  functions/src/__tests__/utils.test.ts
  functions/src/index.ts
  functions/src/lateProviderLogic.ts
  functions/src/utils.ts
  todos/018-pending-p2-check-late-providers-race-condition.md
  todos/019-pending-p2-late-provider-extract-orchestration-module.md
  todos/020-pending-p2-latenessalerts-type-definition.md
  todos/021-pending-p2-admin-alert-subscription-callable.md
  todos/022-pending-p3-check-late-providers-simplification.md
  todos/023-pending-p3-grace-period-in-firestore-config.md
Owners: @schools-in-team, @backend-team

refactor(functions): add LatenessAlert type and simplify checkLateProviders
  docs/solutions/logic-errors/scheduled-late-provider-detection-with-dedup.md
  functions/src/__tests__/lateProviderLogic.test.ts
  functions/src/index.ts
  functions/src/lateProviderLogic.ts
  src/lib/firebase/types.ts
  todos/020-done-p2-latenessalerts-type-definition.md
  todos/022-done-p3-check-late-providers-simplification.md
Owners: @tech-writers, @schools-in-team, @security-team, @backend-team

fix(functions): eliminate checkLateProviders duplicate-alert race condition
  functions/src/__tests__/checkLateProviders.test.ts
  functions/src/index.ts
  todos/018-done-p2-check-late-providers-race-condition.md
Owners: @schools-in-team

chore: update review agent config and add feature brainstorm doc
  compound-engineering.local.md
  docs/brainstorms/2026-03-24-late-provider-admin-alerts-brainstorm.md
Owners: @schools-in-team, @tech-writers

refactor(functions): extract checkLateProviders orchestration to dedicated module
  functions/src/__tests__/checkLateProviders.test.ts
  functions/src/__tests__/lateProviderOrchestration.test.ts
  functions/src/index.ts
  functions/src/lateProviderOrchestration.ts
  todos/019-done-p2-late-provider-extract-orchestration-module.md
Owners: @schools-in-team

feat(functions): add manageAdminAlertSubscription callable for agent-native push management
  functions/src/__tests__/manageAdminAlertSubscription.test.ts
  functions/src/index.ts
  src/components/admin/AdminDashboard.tsx
  src/lib/pwa/__tests__/pushReminders.test.ts
  src/lib/pwa/pushReminders.ts
  todos/021-done-p2-admin-alert-subscription-callable.md
Owners: @schools-in-team, @frontend-team

feat(functions): read late-provider grace period from Firestore config
  firestore.rules
  functions/src/__tests__/checkLateProviders.test.ts
  functions/src/__tests__/lateProviderLogic.test.ts
  functions/src/index.ts
  functions/src/lateProviderLogic.ts
  src/lib/firebase/firestore.ts
  todos/023-done-p3-grace-period-in-firestore-config.md
Owners: @backend-team, @schools-in-team, @security-team

feat(functions): checkLateProviders scheduled alerts with agent-native config (#103)
  compound-engineering.local.md
  docs/brainstorms/2026-03-24-late-provider-admin-alerts-brainstorm.md
  docs/solutions/logic-errors/scheduled-late-provider-detection-with-dedup.md
  firestore.rules
  functions/src/__tests__/checkLateProviders.test.ts
  functions/src/__tests__/lateProviderLogic.test.ts
  functions/src/__tests__/lateProviderOrchestration.test.ts
  functions/src/__tests__/manageAdminAlertSubscription.test.ts
  functions/src/index.ts
  functions/src/lateProviderLogic.ts
  functions/src/lateProviderOrchestration.ts
  src/components/admin/AdminDashboard.tsx
  src/lib/firebase/firestore.ts
  src/lib/firebase/types.ts
  src/lib/pwa/__tests__/pushReminders.test.ts
  src/lib/pwa/pushReminders.ts
  todos/018-done-p2-check-late-providers-race-condition.md
  todos/019-done-p2-late-provider-extract-orchestration-module.md
  todos/020-done-p2-latenessalerts-type-definition.md
  todos/021-done-p2-admin-alert-subscription-callable.md
  todos/022-done-p3-check-late-providers-simplification.md
  todos/023-done-p3-grace-period-in-firestore-config.md
Owners: @schools-in-team, @tech-writers, @backend-team, @frontend-team, @security-team

Enable 8 skipped tests in useOfflineQueue.test.tsx
  src/lib/hooks/__tests__/useOfflineQueue.test.tsx
Owners: @schools-in-team

feat: add dashboard notifications for late providers
  functions/src/__tests__/checkLateProviders.test.ts
  functions/src/__tests__/lateProviderOrchestration.test.ts
  functions/src/index.ts
  functions/src/lateProviderLogic.ts
  functions/src/lateProviderOrchestration.ts
  src/app/admin/notifications/page.test.tsx
  src/app/admin/notifications/page.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/admin/AdminNotifications.tsx
  src/components/ui/NotificationBell.tsx
  src/lib/firebase/types.ts
  src/lib/hooks/useNotifications.ts
  src/lib/notifications.ts
Owners: @schools-in-team, @frontend-team, @security-team, @backend-team

feat: add dashboard notifications for late providers (#104)
  functions/src/__tests__/checkLateProviders.test.ts
  functions/src/__tests__/lateProviderOrchestration.test.ts
  functions/src/index.ts
  functions/src/lateProviderLogic.ts
  functions/src/lateProviderOrchestration.ts
  src/app/admin/notifications/page.test.tsx
  src/app/admin/notifications/page.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/admin/AdminNotifications.tsx
  src/components/ui/NotificationBell.tsx
  src/lib/firebase/types.ts
  src/lib/hooks/useNotifications.ts
  src/lib/notifications.ts
Owners: @schools-in-team, @frontend-team, @security-team, @backend-team

feat: enhance session reporting with new Firestore indexes and error handling
  .opencode/plans/2026-03-28-001-feat-late-provider-dashboard-notifications-plan.md
  docs/agents/firebase.md
  firestore.indexes.json
  src/components/admin/SessionReports.test.tsx
  src/components/admin/SessionReports.tsx
  src/lib/firebase/__tests__/firestore.test.ts
  src/lib/firebase/firestore.ts
  src/lib/utils/session.test.ts
  src/lib/utils/session.ts
Owners: @schools-in-team, @tech-writers, @frontend-team, @security-team, @backend-team

feat: enhance session reporting with new Firestore indexes and error handling (#105)
  .opencode/plans/2026-03-28-001-feat-late-provider-dashboard-notifications-plan.md
  docs/agents/firebase.md
  firestore.indexes.json
  src/components/admin/SessionReports.test.tsx
  src/components/admin/SessionReports.tsx
  src/lib/firebase/__tests__/firestore.test.ts
  src/lib/firebase/firestore.ts
  src/lib/utils/session.test.ts
  src/lib/utils/session.ts
Owners: @schools-in-team, @tech-writers, @frontend-team, @security-team, @backend-team

Add Propel static funding model under public/propel_app; refresh sw.js
  public/propel_app/propel_app.js
  public/propel_app/propel_data.js
  public/propel_app/propel_funding_model.html
  public/sw.js
Owners: @schools-in-team

Add Propel static funding model under public/propel_app; refresh sw.js (#106)
  public/propel_app/propel_app.js
  public/propel_app/propel_data.js
  public/propel_app/propel_funding_model.html
  public/sw.js
Owners: @schools-in-team

fix(reports): correct attendance school attribution
  scripts/verify-session-location-attribution.ts
  src/components/admin/AttendanceSummary.test.tsx
  src/components/admin/AttendanceSummary.tsx
  src/components/admin/SessionAnalytics.test.tsx
  src/components/admin/SessionAnalytics.tsx
  src/components/admin/SessionManagement.test.tsx
  src/components/admin/SessionManagement.tsx
  src/components/admin/SessionReports.test.tsx
  src/components/admin/SessionReports.tsx
  src/components/provider/SessionHistory.tsx
  src/lib/utils/session.test.ts
  src/lib/utils/session.ts
Owners: @schools-in-team, @frontend-team

chore: gitignore orchestrator workspace artifacts
  .gitignore
Owners: @schools-in-team

fix(reports): correct attendance school attribution (#107)
  .gitignore
  scripts/verify-session-location-attribution.ts
  src/components/admin/AttendanceSummary.test.tsx
  src/components/admin/AttendanceSummary.tsx
  src/components/admin/SessionAnalytics.test.tsx
  src/components/admin/SessionAnalytics.tsx
  src/components/admin/SessionManagement.test.tsx
  src/components/admin/SessionManagement.tsx
  src/components/admin/SessionReports.test.tsx
  src/components/admin/SessionReports.tsx
  src/components/provider/SessionHistory.tsx
  src/lib/utils/session.test.ts
  src/lib/utils/session.ts
Owners: @schools-in-team, @frontend-team

chore: soft-retire deploy workflow and add retirement checklist
  .github/workflows/deploy.yml.disabled
  docs/retirement-checklist.md
Owners: @devops-team, @schools-in-team, @tech-writers

docs: mark deploy-disable push complete on retirement checklist
  docs/retirement-checklist.md
Owners: @tech-writers, @schools-in-team

Record Phase 3 retirement progress and tighten local env gitignore.
  .gitignore
  docs/retirement-checklist.md
  public/sw.js
Owners: @schools-in-team, @tech-writers

.github/CODEOWNERS:

# Global owners
* @schools-in-team

# Frontend components
/src/components/ @frontend-team @schools-in-team

# Backend/API routes
/src/app/api/ @backend-team @schools-in-team

# Firebase configuration
firebase.json @backend-team @schools-in-team
firestore.rules @backend-team @schools-in-team  
storage.rules @backend-team @schools-in-team

# CI/CD workflows
/.github/workflows/ @devops-team @schools-in-team

# Performance and accessibility
/cypress/e2e/performance-accessibility.cy.ts @qa-team @schools-in-team
/src/lib/performance/ @performance-team @schools-in-team
/src/lib/testing/ @qa-team @schools-in-team

# Documentation
/docs/ @tech-writers @schools-in-team
README.md @tech-writers @schools-in-team

# Security-sensitive files
/src/lib/firebase/ @security-team @backend-team @schools-in-team
/.env* @security-team @backend-team @schools-in-team
