Repository Arrthurr/schools-in, changes with the owners that .github/CODEOWNERS names for each.
All owners: @schools-in-team, @frontend-team, @backend-team, @devops-team, @qa-team, @performance-team, @tech-writers, @security-team

.github/CODEOWNERS:

# Global owners
* @schools-in-team

# Frontend components
/src/components/ @frontend-team @schools-in-team

# Backend/API routes
/src/app/api/ @backend-team @schools-in-team

# Firebase configuration
firebase.json @backend-team @schools-in-team
firestore.rules @backend-team @schools-in-team  
storage.rules @backend-team @schools-in-team

# CI/CD workflows
/.github/workflows/ @devops-team @schools-in-team

# Performance and accessibility
/cypress/e2e/performance-accessibility.cy.ts @qa-team @schools-in-team
/src/lib/performance/ @performance-team @schools-in-team
/src/lib/testing/ @qa-team @schools-in-team

# Documentation
/docs/ @tech-writers @schools-in-team
README.md @tech-writers @schools-in-team

# Security-sensitive files
/src/lib/firebase/ @security-team @backend-team @schools-in-team
/.env* @security-team @backend-team @schools-in-team

feat(analytics): add GA4 integration with route tracking
  src/components/analytics/AnalyticsProvider.tsx
  src/components/layout/ClientLayout.tsx
  src/lib/analytics/ga.ts
  tasks/tasks-prd-provider-check-in-check-out.md
Owners: @frontend-team, @schools-in-team

feat(analytics): add web-vitals API endpoint and init wiring
  src/app/api/analytics/web-vitals/__tests__/route.test.ts
  src/app/api/analytics/web-vitals/route.ts
  src/components/analytics/WebVitalsInit.tsx
  src/components/layout/ClientLayout.tsx
  tasks/tasks-prd-provider-check-in-check-out.md
Owners: @backend-team, @schools-in-team, @frontend-team

feat(perf): wire Web Vitals to Firebase Performance custom traces
  src/lib/firebase/perf.ts
  src/lib/performance/webVitals.ts
  tasks/tasks-prd-provider-check-in-check-out.md
Owners: @security-team, @backend-team, @schools-in-team, @performance-team

feat(sentry): add performance breadcrumbs for slow Web Vitals
  src/lib/performance/webVitals.ts
  tasks/tasks-prd-provider-check-in-check-out.md
Owners: @performance-team, @schools-in-team

docs(uat): add UAT checklist and wire into tasks under 15.7
  docs/uat-checklist.md
  tasks/tasks-prd-provider-check-in-check-out.md
Owners: @tech-writers, @schools-in-team

docs(uat): add Provider UAT run log for 2025-09-11 and reference in tasks (15.7.1)
  docs/uat-runs/provider-uat-2025-09-11.md
  tasks/tasks-prd-provider-check-in-check-out.md
Owners: @tech-writers, @schools-in-team

docs(uat): prefill tester + commit SHA in Provider run log; reference in tasks (15.7.1)
  docs/uat-runs/provider-uat-2025-09-11.md
  tasks/tasks-prd-provider-check-in-check-out.md
Owners: @tech-writers, @schools-in-team

security: remove hardcoded Firebase API keys from config, use env vars only
  firebase.config.js
Owners: @schools-in-team

feat: implement performance monitoring and analytics tracking
  docs/uat-checklist.md
  src/app/api/analytics/web-vitals/__tests__/route.test.ts
  src/app/api/analytics/web-vitals/route.ts
  src/app/layout.tsx
  src/components/analytics/AnalyticsProvider.tsx
  src/components/analytics/WebVitalsInit.tsx
  src/components/auth/LoginForm.tsx
  src/components/layout/ClientLayout.tsx
  src/components/provider/CheckInButton.tsx
  src/components/provider/SchoolList.tsx
  src/lib/analytics/ga.ts
  src/lib/firebase/perf.ts
  src/lib/hooks/__tests__/useAnalytics.test.tsx
  src/lib/hooks/useAnalytics.ts
  src/lib/performance/webVitals.ts
  src/lib/providers/AnalyticsProvider.tsx
  tasks/tasks-prd-provider-check-in-check-out.md
Owners: @tech-writers, @schools-in-team, @backend-team, @frontend-team, @security-team, @performance-team

Refactor analytics and performance monitoring integration
  docs/comprehensive-documentation-review.md
  docs/project-completion-status-summary.md
  docs/task-15-7-completion-summary.md
  docs/task-15-7-continuation-summary.md
  docs/uat-checklist.md
  docs/uat-runs/accessibility-compliance-testing-report.md
  docs/uat-runs/manual-testing-execution-log.md
  docs/uat-runs/provider-system-uat-run-1.md
  docs/uat-runs/responsive-design-testing-report.md
  firebase.config.js
  lighthouse-accessibility-report.json
  src/app/api/analytics/web-vitals/__tests__/route.test.ts
  src/components/auth/LoginForm.tsx
  src/components/layout/ClientLayout.tsx
  src/components/provider/CheckInButton.test.fixed.tsx
  src/components/provider/CheckInButton.test.tsx.backup
  src/components/provider/CheckInButton.tsx
  src/components/provider/SchoolList.tsx
  src/lib/firebase/productionConfig.ts
  src/lib/hooks/__tests__/useAnalytics.test.tsx
  src/lib/hooks/__tests__/useOfflineQueue.test.tsx
  src/lib/hooks/useAnalytics.ts
  src/lib/offline/__tests__/cacheManager.test.ts
  src/lib/offline/__tests__/queueManager.test.ts
  src/lib/providers/AnalyticsProvider.tsx
  tasks/tasks-prd-provider-check-in-check-out.md
Owners: @tech-writers, @schools-in-team, @backend-team, @frontend-team, @security-team

Last bit of file changes.
  docs/uat-runs/provider-uat-2025-09-11.md
  src/lib/hooks/__tests__/useOfflineQueue.test.tsx
  src/lib/performance/webVitals.ts
Owners: @tech-writers, @schools-in-team, @performance-team

Fix Firebase Hosting deployment: Add static export + verification
  .github/workflows/firebase-hosting-deploy.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/staging-deploy.yml
  firestore.rules
Owners: @devops-team, @schools-in-team, @backend-team

Fix Firebase Hosting deployment: Add static export + verification
  .github/workflows/firebase-hosting-deploy.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/staging-deploy.yml
  firestore.rules
Owners: @devops-team, @schools-in-team, @backend-team

Update firebase.config.js documentation
  firebase.config.js
Owners: @schools-in-team

Update firebase.config.js documentation
  firebase.config.js
Owners: @schools-in-team

Fix CI/CD workflow failures
  .github/workflows/ci-cd.yml.disabled
  .github/workflows/ci-simple.yml
  .github/workflows/firebase-hosting-deploy.yml
  .github/workflows/staging-deploy.yml
Owners: @devops-team, @schools-in-team

Fix CI/CD workflow failures
  .github/workflows/ci-cd.yml.disabled
  .github/workflows/ci-simple.yml
  .github/workflows/firebase-hosting-deploy.yml
  .github/workflows/staging-deploy.yml
Owners: @devops-team, @schools-in-team

Update CI workflows: ci-cd.yml added, ci-simple.yml updated
  .github/workflows/ci-cd.yml
  .github/workflows/ci-simple.yml
Owners: @devops-team, @schools-in-team

Update CI workflows: ci-cd.yml added, ci-simple.yml updated
  .github/workflows/ci-cd.yml
  .github/workflows/ci-simple.yml
Owners: @devops-team, @schools-in-team

Fix Sentry config: use env vars, remove manual trace meta, update CI
  .github/workflows/ci-cd.yml
  .gitignore
  .sentryclirc
  next.config.js
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/api/sentry-example-api/route.ts
  src/app/global-error.tsx
  src/app/layout.tsx
  src/app/sentry-example-page/page.tsx
  src/instrumentation-client.ts
  src/instrumentation.ts
Owners: @devops-team, @schools-in-team, @backend-team

Fix Sentry config: use env vars, remove manual trace meta, update CI
  .github/workflows/ci-cd.yml
  .gitignore
  .sentryclirc
  next.config.js
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/api/sentry-example-api/route.ts
  src/app/global-error.tsx
  src/app/layout.tsx
  src/app/sentry-example-page/page.tsx
  src/instrumentation-client.ts
  src/instrumentation.ts
Owners: @devops-team, @schools-in-team, @backend-team

Update AGENTS.md: add recent updates on Next.js, Firebase, Sentry, and CI/CD improvements
  AGENTS.md
Owners: @schools-in-team

Update AGENTS.md: add recent updates on Next.js, Firebase, Sentry, and CI/CD improvements
  AGENTS.md
Owners: @schools-in-team

Remove outdated GitHub Actions workflows for Firebase Hosting, performance testing, release management, and staging deployment
  .github/workflows/ci-cd.yml
  .github/workflows/ci-cd.yml.disabled
  .github/workflows/ci-simple.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment-monitor.yml
  .github/workflows/feature-branch.yml
  .github/workflows/firebase-hosting-deploy.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/performance-accessibility.yml
  .github/workflows/release.yml
  .github/workflows/staging-deploy.yml
Owners: @devops-team, @schools-in-team

Remove outdated GitHub Actions workflows for Firebase Hosting, performance testing, release management, and staging deployment
  .github/workflows/ci-cd.yml
  .github/workflows/ci-cd.yml.disabled
  .github/workflows/ci-simple.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment-monitor.yml
  .github/workflows/feature-branch.yml
  .github/workflows/firebase-hosting-deploy.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/performance-accessibility.yml
  .github/workflows/release.yml
  .github/workflows/staging-deploy.yml
Owners: @devops-team, @schools-in-team

fix(deploy): Disable linting during functions deployment
  firebase.json
Owners: @backend-team, @schools-in-team

fix(deploy): Disable linting during functions deployment
  firebase.json
Owners: @backend-team, @schools-in-team

Implement feature X to enhance user experience and optimize performance
  package-lock.json
Owners: @schools-in-team

Implement feature X to enhance user experience and optimize performance
  package-lock.json
Owners: @schools-in-team

style(eslint): Format ESLint configuration for consistency and readability
  eslint.config.mjs
Owners: @schools-in-team

style(eslint): Format ESLint configuration for consistency and readability
  eslint.config.mjs
Owners: @schools-in-team

refactor: comment out unused generateMetadata function in layout.tsx
  src/app/layout.tsx
Owners: @schools-in-team

refactor: uncomment generateMetadata function in layout.tsx
  src/app/layout.tsx
Owners: @schools-in-team

refactor: update metadata structure in layout.tsx and remove unused Sentry example API
  public/sw.js
  src/app/api/sentry-example-api/route.ts
  src/app/layout.tsx
Owners: @schools-in-team, @backend-team

fix: ensure navigator is defined before accessing online status in hooks
  public/sw.js
  src/components/demo/PWATestingUtility.tsx
  src/lib/hooks/useNetworkStatus.ts
  src/lib/hooks/useOfflineQueue.ts
Owners: @schools-in-team, @frontend-team

Remove Sentry integration from codebase
  AGENTS.md
  functions/next.config.js
  functions/package.json
  functions/src/index.js
  package.json
  public/sw.js
  scripts/deploy-production.sh
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/global-error.tsx
  src/app/layout.tsx
  src/app/sentry-example-page/page.tsx
  src/instrumentation-client.ts
  src/instrumentation.ts
  src/lib/performance/webVitals.ts
  src/lib/utils/environmentValidator.ts
Owners: @schools-in-team, @performance-team

Fix root next.config.js - remove Sentry configuration
  next.config.js
Owners: @schools-in-team

fix: update service worker script loading logic and improve module registration
  public/sw.js
Owners: @schools-in-team

fix: remove unused dependencies from useNetworkStatus hook
  public/sw.js
  src/lib/hooks/useNetworkStatus.ts
Owners: @schools-in-team

fix: improve offline messaging and queue management with memoization
  public/sw.js
  src/components/offline/OfflineMessaging.tsx
  src/lib/hooks/useEnhancedOfflineQueue.ts
Owners: @schools-in-team, @frontend-team
