Repository Arrthurr/schools-in, changes with the owners that .github/CODEOWNERS names for each.
All owners: @schools-in-team, @frontend-team, @backend-team, @devops-team, @qa-team, @performance-team, @tech-writers, @security-team

.github/CODEOWNERS:

# Global owners
* @schools-in-team

# Frontend components
/src/components/ @frontend-team @schools-in-team

# Backend/API routes
/src/app/api/ @backend-team @schools-in-team

# Firebase configuration
firebase.json @backend-team @schools-in-team
firestore.rules @backend-team @schools-in-team  
storage.rules @backend-team @schools-in-team

# CI/CD workflows
/.github/workflows/ @devops-team @schools-in-team

# Performance and accessibility
/cypress/e2e/performance-accessibility.cy.ts @qa-team @schools-in-team
/src/lib/performance/ @performance-team @schools-in-team
/src/lib/testing/ @qa-team @schools-in-team

# Documentation
/docs/ @tech-writers @schools-in-team
README.md @tech-writers @schools-in-team

# Security-sensitive files
/src/lib/firebase/ @security-team @backend-team @schools-in-team
/.env* @security-team @backend-team @schools-in-team

fix: prevent auto check-in then immediate check-out cascade
  functions/src/index.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useCachedSession.ts
  src/lib/hooks/useSession.ts
Owners: @schools-in-team

fix: prevent auto check-in then immediate check-out cascade (#72)
  functions/src/index.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useCachedSession.ts
  src/lib/hooks/useSession.ts
Owners: @schools-in-team

refactor: update toast notifications for session status
  functions/src/index.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

fix: enhance session status notifications and user engagement
  .cursor/plans/fix_session_and_geofence_issues_c4162d2e.plan.md
Owners: @schools-in-team

Fix/auto checkin checkout cascade (#73)
  .cursor/plans/fix_session_and_geofence_issues_c4162d2e.plan.md
  functions/src/index.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

fix: correct stale session timestamps and prefer durationMinutes across admin UI
  functions/src/index.ts
  src/components/admin/SessionManagement.tsx
  src/components/admin/SessionReports.tsx
  src/lib/hooks/useAdminMetrics.ts
  src/lib/utils/session.ts
Owners: @schools-in-team, @frontend-team

fix: correct stale session timestamps and prefer durationMinutes across admin UI (#75)
  functions/src/index.ts
  src/components/admin/SessionManagement.tsx
  src/components/admin/SessionReports.tsx
  src/lib/hooks/useAdminMetrics.ts
  src/lib/utils/session.ts
Owners: @schools-in-team, @frontend-team

fix: prevent stale "still here" toast after session auto-close
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

fix: prevent stale "still here" toast after session auto-close (#76)
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

fix: restore default geofence radius to 300m across client code
  cypress/fixtures/schools.json
  src/app/admin/schools/page.tsx
  src/components/admin/AdminManualCheckInOut.tsx
  src/components/admin/SchoolForm.tsx
  src/components/provider/CheckInButton.tsx
  src/components/provider/SchoolDetailSheet.tsx
  src/components/provider/SchoolDetailView.tsx
  src/components/provider/SchoolList.tsx
  src/lib/firebase/types.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/services/bulkSchoolOperations.ts
  src/lib/services/cachedSessionService.ts
  src/lib/services/locationService.ts
  src/lib/utils/geo.ts
Owners: @schools-in-team, @frontend-team, @security-team, @backend-team

fix: restore default geofence radius to 300m across client code (#77)
  cypress/fixtures/schools.json
  src/app/admin/schools/page.tsx
  src/components/admin/AdminManualCheckInOut.tsx
  src/components/admin/SchoolForm.tsx
  src/components/provider/CheckInButton.tsx
  src/components/provider/SchoolDetailSheet.tsx
  src/components/provider/SchoolDetailView.tsx
  src/components/provider/SchoolList.tsx
  src/lib/firebase/types.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/services/bulkSchoolOperations.ts
  src/lib/services/cachedSessionService.ts
  src/lib/services/locationService.ts
  src/lib/utils/geo.ts
Owners: @schools-in-team, @frontend-team, @security-team, @backend-team

fix: add granular service exclusions and improve test coverage
  functions/jest.config.js
  functions/package-lock.json
  functions/package.json
  functions/src/__tests__/utils.test.ts
  functions/src/index.ts
  functions/src/utils.ts
  jest.config.js
  src/lib/hooks/__tests__/useSession.test.tsx
  src/lib/services/__tests__/cachedSessionService.test.ts
Owners: @schools-in-team

fix: add granular service exclusions and improve test coverage (#78)
  functions/jest.config.js
  functions/package-lock.json
  functions/package.json
  functions/src/__tests__/utils.test.ts
  functions/src/index.ts
  functions/src/utils.ts
  jest.config.js
  src/lib/hooks/__tests__/useSession.test.tsx
  src/lib/services/__tests__/cachedSessionService.test.ts
Owners: @schools-in-team

fix: increase session timeout from 2 hours to 7 hours
  AGENTS.md
  docs/agents/architecture.md
  docs/agents/pwa.md
  functions/src/__tests__/utils.test.ts
  functions/src/index.ts
  functions/src/utils.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team, @tech-writers

fix: increase session timeout from 2 hours to 7 hours (#79)
  AGENTS.md
  docs/agents/architecture.md
  docs/agents/pwa.md
  functions/src/__tests__/utils.test.ts
  functions/src/index.ts
  functions/src/utils.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team, @tech-writers

docs: update agent docs to reflect Cloud Functions refactor and coverage changes
  AGENTS.md
  docs/agents/architecture.md
  docs/agents/code-style.md
  docs/agents/firebase.md
  docs/agents/testing.md
Owners: @schools-in-team, @tech-writers

perf: optimize admin reports loading and session queries
  jest.setup.js
  src/app/admin/reports/page.tsx
  src/components/admin/SessionReports.test.tsx
  src/components/admin/SessionReports.tsx
  src/components/provider/SessionTimerDisplay.test.tsx
  src/lib/services/__tests__/cachedSessionService.test.ts
Owners: @schools-in-team, @frontend-team

perf: optimize admin reports loading and session queries (#80)
  jest.setup.js
  src/app/admin/reports/page.tsx
  src/components/admin/SessionReports.test.tsx
  src/components/admin/SessionReports.tsx
  src/components/provider/SessionTimerDisplay.test.tsx
  src/lib/services/__tests__/cachedSessionService.test.ts
Owners: @schools-in-team, @frontend-team

docs: add codebase gap assessment
  docs/codebase-gap-assessment-2026-02-10.md
  docs/codebase-gap-assessment-executive-summary.md
Owners: @tech-writers, @schools-in-team

Increase session timeout from 7 to 9 hours
  AGENTS.md
  functions/src/__tests__/utils.test.ts
  functions/src/index.ts
  functions/src/utils.ts
Owners: @schools-in-team

Increase session timeout from 7 to 9 hours (#81)
  AGENTS.md
  functions/src/__tests__/utils.test.ts
  functions/src/index.ts
  functions/src/utils.ts
Owners: @schools-in-team

fix: make E2E tests deterministic and use aria-label selectors
  cypress/e2e/admin-flow.cy.ts
  cypress/e2e/provider-flow.cy.ts
  src/app/admin/users/page.tsx
Owners: @schools-in-team

fix: make E2E tests deterministic and use aria-label selectors (#82)
  cypress/e2e/admin-flow.cy.ts
  cypress/e2e/provider-flow.cy.ts
  src/app/admin/users/page.tsx
Owners: @schools-in-team

test: add E2E tests for admin feedback, auth guards, dashboard, profile, provider feedback, schools, and session history
  cypress/e2e/admin-feedback-services.cy.ts
  cypress/e2e/auth-guards.cy.ts
  cypress/e2e/dashboard-workflow.cy.ts
  cypress/e2e/profile.cy.ts
  cypress/e2e/provider-feedback.cy.ts
  cypress/e2e/schools-page.cy.ts
  cypress/e2e/session-history.cy.ts
Owners: @schools-in-team

fix: session-history mobile viewport test selector
  cypress/e2e/session-history.cy.ts
Owners: @schools-in-team

fix: session-history mobile viewport test selector (#83)
  cypress/e2e/session-history.cy.ts
Owners: @schools-in-team

Fix e2e tests and improve accessibility
  cypress/e2e/admin-feedback-services.cy.ts
  cypress/e2e/admin-flow.cy.ts
  cypress/e2e/dashboard-workflow.cy.ts
  cypress/e2e/provider-flow.cy.ts
  cypress/e2e/schools-page.cy.ts
  src/app/admin/feedback/page.tsx
  src/app/admin/schools/page.tsx
  src/app/profile/page.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/provider/ProviderNavigation.tsx
  src/components/provider/SessionHistoryPage.tsx
  src/components/ui/select.tsx
Owners: @schools-in-team, @frontend-team

Fix e2e tests and improve accessibility (#84)
  cypress/e2e/admin-feedback-services.cy.ts
  cypress/e2e/admin-flow.cy.ts
  cypress/e2e/dashboard-workflow.cy.ts
  cypress/e2e/provider-flow.cy.ts
  cypress/e2e/schools-page.cy.ts
  src/app/admin/feedback/page.tsx
  src/app/admin/schools/page.tsx
  src/app/profile/page.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/provider/ProviderNavigation.tsx
  src/components/provider/SessionHistoryPage.tsx
  src/components/ui/select.tsx
Owners: @schools-in-team, @frontend-team

fix: update session timeout to 9 hours
  docs/agents/architecture.md
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @tech-writers, @schools-in-team

fix: update session timeout to 9 hours (#85)
  docs/agents/architecture.md
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @tech-writers, @schools-in-team

chore: upgrade Cloud Functions runtime to Node.js 22
  functions/package.json
Owners: @schools-in-team

feat: show verifying toast during geofence debounce and reduce countdown to 5s
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

feat: show verifying toast during geofence debounce and reduce countdown to 5s (#87)
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

fix: prevent duplicate sessions from offline-sync race condition
  firestore.indexes.json
  functions/src/index.ts
  scripts/cleanup-duplicate-sessions.mjs
Owners: @schools-in-team

Update sw.js
  public/sw.js
Owners: @schools-in-team

fix: provider school visibility from M365 sync
  functions/src/__tests__/syncMatching.test.ts
  functions/src/__tests__/utils.test.ts
  functions/src/index.ts
  functions/src/utils.ts
  src/lib/firebase/cachedFirestore.ts
Owners: @schools-in-team, @security-team, @backend-team

fix: normalize canonical names after punctuation stripping
  functions/src/__tests__/utils.test.ts
  functions/src/utils.ts
Owners: @schools-in-team

Fix/provider school visibility m365 sync (#88)
  functions/src/__tests__/syncMatching.test.ts
  functions/src/__tests__/utils.test.ts
  functions/src/index.ts
  functions/src/utils.ts
  public/sw.js
  src/lib/firebase/cachedFirestore.ts
Owners: @schools-in-team, @security-team, @backend-team

feat: add provider manual check-in/out with auto toggle and schedule gating
  firestore.rules
  functions/src/index.ts
  src/app/dashboard/page.tsx
  src/components/provider/ProviderManualCheckInOut.test.tsx
  src/components/provider/ProviderManualCheckInOut.tsx
  src/components/provider/SessionStatus.tsx
  src/lib/hooks/__tests__/useAutoGeofencePreference.test.tsx
  src/lib/hooks/useAutoGeofencePreference.test.ts
  src/lib/hooks/useAutoGeofencePreference.ts
  src/lib/hooks/useCachedAuth.ts
  src/lib/hooks/useScheduleGate.test.ts
  src/lib/hooks/useScheduleGate.ts
Owners: @backend-team, @schools-in-team, @frontend-team

feat: provider manual check-in with geofence, schedule gate, and cached auth
  firestore.rules
  functions/src/index.ts
  junit.xml
  src/app/dashboard/page.tsx
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useCachedAuth.ts
  src/lib/hooks/useScheduleGate.test.ts
  src/lib/hooks/useScheduleGate.ts
  src/lib/services/__tests__/cachedSessionService.test.ts
  src/lib/services/cachedSessionService.ts
Owners: @backend-team, @schools-in-team
