Repository Arrthurr/schools-in, changes with the owners that .github/CODEOWNERS names for each.
All owners: @schools-in-team, @frontend-team, @backend-team, @devops-team, @qa-team, @performance-team, @tech-writers, @security-team

Fix adaptive geofence polling intervals
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

fix: Resolve three state management and variable scoping issues
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useProviderLocations.ts
  src/lib/hooks/useSession.ts
Owners: @schools-in-team

Enhance PWA push notifications, refine geofence accuracy, and update TS config
  src/app/sw.ts
  src/components/admin/AdminDashboard.tsx
  src/components/admin/SessionManagement.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useGeofenceStrategy.ts
  src/lib/offline/syncManager.ts
  src/lib/pwa/capabilities.ts
  src/lib/pwa/pushReminders.ts
  tsconfig.json
Owners: @schools-in-team, @frontend-team

refactor: Clean up provider locations usage and improve geofence polling
  src/app/dashboard/page.test.tsx
  src/app/dashboard/page.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useProviderLocations.ts
  src/lib/hooks/useSession.ts
Owners: @schools-in-team

Unify offline queue and harden caching
  src/app/sw.ts
  src/lib/cache/FirebaseCache.ts
  src/lib/firebase/cachedFirestore.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/offline/__tests__/actionQueue.test.ts
  src/lib/offline/actionQueue.ts
  src/lib/offline/offlineDB.ts
  src/lib/offline/queueManager.ts
  src/lib/offline/serviceManager.ts
  src/lib/offline/syncManager.ts
Owners: @schools-in-team, @security-team, @backend-team

Fix useAutoGeofenceCheck tests for cached provider locations
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
Owners: @schools-in-team

Update geofence hook tests for cached provider fetch
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
Owners: @schools-in-team

Consolidate visibilitychange handling in geofence hook
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

Ensure SW background sync waits for client queue processing
  src/app/sw.ts
  src/lib/offline/serviceManager.ts
Owners: @schools-in-team

Restore invalidateCache compatibility with legacy patterns
  src/lib/cache/FirebaseCache.ts
Owners: @schools-in-team

Refresh stats before notifying listeners in queue manager
  src/lib/offline/queueManager.ts
Owners: @schools-in-team

Guard visibility listener registration/removal for non-DOM envs
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

Close SW message ports after background sync ack
  src/app/sw.ts
Owners: @schools-in-team

Enhance service worker action queue processing with request ID handling and improve error acknowledgment for background sync
  src/app/sw.ts
  src/lib/cache/FirebaseCache.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/offline/serviceManager.ts
Owners: @schools-in-team

Add cross-tab lock for action queue processing; notify single client.
  src/app/sw.ts
  src/lib/offline/__tests__/cacheStrategy.test.ts
  src/lib/offline/actionQueue.ts
  src/lib/offline/cacheStrategy.ts
Owners: @schools-in-team

Fix CI: service worker message typing + Jest coverage collection
  jest.config.js
  src/app/sw.ts
Owners: @schools-in-team

Rebrand application from 'Schools-In' to 'DMDL CampusAccess'
  cypress/e2e/homepage.cy.js
  cypress/e2e/navigation.cy.js
  functions/public/manifest.json
  functions/src/index.ts
  public/manifest.json
  src/app/admin/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/layout/ClientLayout.tsx
  src/components/ui/branded-footer.tsx
  src/components/ui/logo.tsx
  src/lib/logging/appLogger.ts
  src/lib/offline/cacheStrategy.ts
Owners: @schools-in-team, @frontend-team

Rebrand from 'Schools-In' and 'DMDL Schools-In' to 'CampusAccess'
  cypress/e2e/homepage.cy.js
  docs/getting-started-providers.md
  functions/public/manifest.json
  functions/src/index.ts
  public/manifest.json
  src/app/admin/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/layout/ClientLayout.tsx
  src/components/ui/branded-footer.tsx
  src/components/ui/logo.tsx
  src/lib/offline/cacheStrategy.ts
Owners: @schools-in-team, @tech-writers, @frontend-team

Replace remaining 'Schools In' references with 'CampusAccess'
  src/app/sw.ts
  src/components/admin/AdminNavigation.test.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/pwa/PWAInstallPrompt.test.tsx
  src/components/pwa/PWAInstallPrompt.tsx
  src/components/pwa/PWAUpdatePrompt.tsx
  src/lib/offline/offlineDB.ts
  src/lib/pwa/pushReminders.ts
Owners: @schools-in-team, @frontend-team

Add provider session history page and charts
  src/app/dashboard/history/page.tsx
  src/app/dashboard/page.test.tsx
  src/app/dashboard/page.tsx
  src/components/admin/AdminNavigation.test.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/provider/SessionHistoryPage.test.tsx
  src/components/provider/SessionHistoryPage.tsx
  src/lib/utils/__tests__/sessionHistory.test.ts
  src/lib/utils/sessionHistory.ts
Owners: @schools-in-team, @frontend-team

Fix typecheck warning in SessionHistoryPage
  src/components/provider/SessionHistoryPage.tsx
Owners: @frontend-team, @schools-in-team

Enhance layout components with hydration handling
  src/app/layout.tsx
  src/components/layout/ClientLayout.tsx
Owners: @schools-in-team, @frontend-team

Fix missing newline at end of file in ClientLayout component
  src/components/layout/ClientLayout.tsx
Owners: @frontend-team, @schools-in-team

Add engine specifications for Node.js and npm in package.json
  package.json
Owners: @schools-in-team

Remove geofence reminder functions
  AGENTS.md
  docs/getting-started-providers.md
  functions/src/index.ts
  package-lock.json
  package.json
  public/sw.js
  src/app/sw.ts
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useGeofenceStrategy.ts
  src/lib/pwa/capabilities.ts
  src/lib/pwa/pushReminders.ts
Owners: @schools-in-team, @tech-writers

Add JUnit test results and new tests for geofence strategy and push reminders
  junit.xml
  src/lib/hooks/__tests__/useGeofenceStrategy.test.tsx
  src/lib/pwa/__tests__/pushReminders.test.ts
Owners: @schools-in-team

Fix admin alerts VAPID key fallback
  AGENTS.md
  src/components/admin/AdminDashboard.tsx
Owners: @schools-in-team, @frontend-team

fix: remove Profile link from header to fix mobile layout
  src/components/layout/ClientLayout.tsx
Owners: @frontend-team, @schools-in-team

Update school entries in schools.json with new names, addresses, and coordinates
  schools.json
Owners: @schools-in-team

fix: show full Sign Out button text on mobile
  src/components/layout/ClientLayout.tsx
Owners: @frontend-team, @schools-in-team

chore: update PWA icon assets
  functions/public/manifest.json
  public/PROPEL-rocket-blue.png
  public/manifest.json
  schools.json
  src/app/layout.tsx
Owners: @schools-in-team

Update PWA icon to PROPEL rocket
  functions/public/manifest.json
  public/PROPEL-rocket_1024.png
  public/manifest.json
  src/app/layout.tsx
Owners: @schools-in-team

Add PWA icon to functions manifest assets
  functions/public/PROPEL-rocket_1024.png
Owners: @schools-in-team

Reorganize docs and add test files
  AGENTS.md
  docs/FEEDBACK_DEPLOYMENT_CHECKLIST.md
  docs/FEEDBACK_INTEGRATION_VERIFICATION.md
  docs/FEEDBACK_MIGRATION_COMPLETE.md
  docs/agents/architecture.md
  docs/agents/code-style.md
  docs/agents/firebase.md
  docs/agents/pwa.md
  docs/agents/testing.md
  docs/archive/comprehensive-documentation-review.md
  docs/archive/project-completion-status-summary.md
  docs/archive/task-11-3-caching-implementation.md
  docs/archive/task-11-5-sync-mechanism.md
  docs/archive/task-11.6-offline-messaging.md
  docs/archive/task-11.7-completion-summary.md
  docs/archive/task-11.7-pwa-testing-checklist.md
  docs/archive/task-12.3-component-styling-completion.md
  docs/archive/task-12.4-loading-implementation.md
  docs/archive/task-12.5-accessibility-implementation.md
  docs/archive/task-12.7-brand-integration-completion.md
  docs/archive/task-15-7-completion-summary.md
  docs/archive/task-15-7-continuation-summary.md
  docs/archive/task-group-11-completion.md
  docs/authentication-bypass-summary.md
  docs/feedback-implementation-fixes.md
  docs/feedback-system.md
  docs/pwa-migration-to-serwist.md
  docs/react-google-maps_answers.md
  src/components/auth/LoginForm.test.tsx
  src/lib/firebase/__tests__/firestore.test.ts
  src/lib/hooks/__tests__/useProviderLocations.test.tsx
Owners: @schools-in-team, @tech-writers, @frontend-team, @security-team, @backend-team

Improve geofence accuracy and guard invalid location data
  src/components/admin/SchoolListTable.tsx
  src/components/provider/CheckInButton.tsx
  src/components/provider/SchoolDetailView.tsx
  src/lib/firebase/cachedFirestore.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/services/cachedSchoolService.ts
  src/lib/services/locationNormalizer.test.ts
  src/lib/services/locationNormalizer.ts
  src/lib/utils/location.test.ts
  src/lib/utils/location.ts
Owners: @frontend-team, @schools-in-team, @security-team, @backend-team

Fix countdown loop bug with atomic guard in useAutoGeofenceCheck
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

fix(geofence): prevent duplicate countdown during async check-in/out
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

fix(geofence): prevent duplicate countdown during async check-in/out (#59)
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

fix(geo): handle plain objects in geofence validation
  src/lib/utils/geo.ts
Owners: @schools-in-team

fix(layout): align Provider dashboard sidebar with Admin pattern
  src/app/dashboard/page.tsx
Owners: @schools-in-team

.github/CODEOWNERS:

# Global owners
* @schools-in-team

# Frontend components
/src/components/ @frontend-team @schools-in-team

# Backend/API routes
/src/app/api/ @backend-team @schools-in-team

# Firebase configuration
firebase.json @backend-team @schools-in-team
firestore.rules @backend-team @schools-in-team  
storage.rules @backend-team @schools-in-team

# CI/CD workflows
/.github/workflows/ @devops-team @schools-in-team

# Performance and accessibility
/cypress/e2e/performance-accessibility.cy.ts @qa-team @schools-in-team
/src/lib/performance/ @performance-team @schools-in-team
/src/lib/testing/ @qa-team @schools-in-team

# Documentation
/docs/ @tech-writers @schools-in-team
README.md @tech-writers @schools-in-team

# Security-sensitive files
/src/lib/firebase/ @security-team @backend-team @schools-in-team
/.env* @security-team @backend-team @schools-in-team
