Repository Arrthurr/schools-in, changes with the owners that .github/CODEOWNERS names for each.
All owners: @schools-in-team, @frontend-team, @backend-team, @devops-team, @qa-team, @performance-team, @tech-writers, @security-team

Add ActiveSessionsModal component and integrate with AdminDashboard
  src/components/admin/ActiveSessionsModal.tsx
  src/components/admin/AdminDashboard.tsx
  src/lib/hooks/useActiveSessions.ts
Owners: @frontend-team, @schools-in-team

Fixed a series of linting and testing errors.
  eslint.config.mjs
  functions/lib/index.js
  next.config.js
  src/app/admin/schools/__tests__/page.test.tsx
  src/app/admin/schools/page.tsx
  src/components/admin/AttendanceSummary.test.tsx
  src/components/admin/AttendanceSummary.tsx
  src/components/admin/CacheSettings.tsx
  src/components/admin/ReportScheduler.tsx
  src/components/admin/SessionAnalytics.tsx
  src/components/admin/SessionManagement.tsx
  src/components/admin/SessionReports.test.tsx
  src/components/admin/SessionReports.tsx
  src/components/auth/ProtectedRoute.test.tsx
  src/components/layout/ClientLayout.tsx
  src/components/provider/SchoolDetailView.test.tsx
  src/components/provider/SchoolDetailView.tsx
  src/components/provider/SchoolList.test.tsx
  src/components/provider/SchoolList.tsx
  src/components/pwa/PWAInstallPrompt.test.tsx
  src/components/ui/select.tsx
  src/instrumentation.ts
  src/lib/hooks/__tests__/useProviderMetrics.test.tsx
  src/lib/hooks/__tests__/useStartupLogging.test.tsx
  src/lib/hooks/useStartupLogging.ts
  src/lib/logging/appLogger.ts
  src/lib/logging/startupLogger.ts
  src/lib/offline/__tests__/cacheManager.test.ts
  src/lib/offline/__tests__/cacheStrategy.test.ts
  src/lib/offline/__tests__/queueManager.test.ts
  src/lib/offline/cacheManager.ts
  src/lib/offline/cacheStrategy.ts
  src/lib/services/locationValidationService.ts
Owners: @schools-in-team, @frontend-team

**Changes Made**
  .nova/Configuration.json
  src/components/admin/SessionManagement.test.tsx
Owners: @schools-in-team, @frontend-team

fix: use dynamic import for 'os' in instrumentation to fix build
  src/instrumentation.ts
Owners: @schools-in-team

Resolves the top-level import error.
  public/sw.js
Owners: @schools-in-team

Refactor AssignmentModal component by removing unused provider email display and related functions, and adding CompactEmptyState for improved error handling.
  src/components/admin/AssignmentModal.tsx
Owners: @frontend-team, @schools-in-team

Add Service and Schedule interfaces, update Firestore rules and indexes
  firestore.indexes.json
  firestore.rules
  src/lib/firebase/firestore.ts
  src/lib/firebase/types.ts
  src/lib/services/assignmentService.ts
  src/lib/services/scheduleService.ts
  src/lib/services/serviceService.ts
Owners: @schools-in-team, @backend-team, @security-team

Add admin schedule management UI for providers and schools
  src/app/admin/schools/page.tsx
  src/app/admin/users/page.tsx
  src/components/schedules/ScheduleManager.tsx
  src/components/ui/scroll-area.tsx
Owners: @schools-in-team, @frontend-team

Add services admin UI for managing service types
  scripts/seed-services.ts
  src/app/admin/services/page.tsx
  src/components/admin/AdminNavigation.tsx
Owners: @schools-in-team, @frontend-team

Add Microsoft 365 group-based login and school assignment sync
  functions/src/index.ts
  scripts/normalize-location-names.js
  src/components/auth/LoginForm.test.tsx
  src/components/auth/LoginForm.tsx
  src/lib/firebase/auth.test.ts
  src/lib/firebase/auth.ts
Owners: @schools-in-team, @frontend-team, @security-team, @backend-team

Update functions Node version to 25 and commit build artifacts
  functions/lib/index.js
  functions/lib/index.js.map
  functions/package.json
  public/sw.js
Owners: @schools-in-team

Add Microsoft 365 group-based login and assignments sync functionality
  .cursor/plans/m365-group-based-login-and-assignments_df7ef7fd.plan.md
  functions/lib/index.js
  functions/lib/index.js.map
  functions/package.json
  functions/src/index.ts
  src/components/auth/LoginForm.test.tsx
  src/components/auth/LoginForm.tsx
  src/lib/firebase/auth.test.ts
  src/lib/firebase/auth.ts
Owners: @schools-in-team, @frontend-team, @security-team, @backend-team

Add unit tests for admin pages and components
  src/app/admin/__tests__/page.test.tsx
  src/app/admin/assignments/__tests__/page.test.tsx
  src/app/admin/feedback/__tests__/page.test.tsx
  src/app/admin/reports/__tests__/page.test.tsx
  src/app/admin/schools/__tests__/page.test.tsx
  src/app/admin/services/__tests__/page.test.tsx
  src/app/admin/users/__tests__/page.test.tsx
  src/app/dashboard/page.test.tsx
  src/app/dashboard/schools/__tests__/page.test.tsx
  src/app/profile/__tests__/page.test.tsx
  src/app/provider/feedback/__tests__/page.test.tsx
  src/components/auth/LoginForm.test.tsx
  src/components/provider/SchoolList.test.tsx
  src/components/ui/__tests__/dropdown-menu.test.tsx
  src/lib/hooks/useCachedAuth.test.tsx
  src/lib/services/__tests__/assignmentService.test.ts
  src/lib/services/locationService.test.ts
Owners: @schools-in-team, @frontend-team

Enhance Jest configuration and add unit tests for authentication and theme hooks
  .cursor/plans/m365-group-based-login-and-assignments_df7ef7fd.plan.md
  cypress/support/commands.js
  jest.config.js
  src/lib/firebase/authBypass.test.ts
  src/lib/hooks/__tests__/useAuth.test.tsx
  src/lib/hooks/__tests__/useTheme.test.ts
  src/lib/hooks/useAsyncError.tsx
  src/lib/utils/__tests__/time.test.ts
Owners: @schools-in-team, @security-team, @backend-team

Add onboarding gating and resync flow for M365 sync
  functions/src/index.ts
Owners: @schools-in-team

Add auto geofence preference, hook, and UI wiring
  src/app/dashboard/page.tsx
  src/components/auth/UserProfile.tsx
  src/lib/firebase/auth.ts
  src/lib/firebase/types.ts
  src/lib/hooks/__tests__/useAutoGeofencePreference.test.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useAutoGeofencePreference.ts
  src/lib/services/userPreferences.ts
  src/lib/services/userService.ts
Owners: @schools-in-team, @frontend-team, @security-team, @backend-team

Add system tools section to AGENTS.md, remove Configuration.json, and introduce auto geofence check-in/out task documentation
  .nova/Configuration.json
  AGENTS.md
  tasks/0003-prd-auto-geofence-check-in-out.md
  tasks/tasks-0003-prd-auto-geofence-check-in-out.md
Owners: @schools-in-team

Refactor useAutoGeofenceCheck hook to improve toast action handling and geofence state management
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

Enhance useAutoGeofenceCheck hook with session duration calculation and improved toast messaging
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

feat: implement auto geofence check-in/out feature
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

feat: implement role-based check-in/out system
  firestore.rules
  functions/src/index.ts
  src/app/dashboard/page.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/admin/AdminManualCheckInOut.test.tsx
  src/components/admin/AdminManualCheckInOut.tsx
  src/components/auth/UserProfile.tsx
  src/components/provider/SchoolList.test.tsx
  src/components/provider/SessionStatus.tsx
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
  src/lib/hooks/__tests__/useAutoGeofencePreference.test.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useAutoGeofencePreference.ts
  src/lib/hooks/useSession.ts
  src/lib/services/cachedSessionService.ts
Owners: @backend-team, @schools-in-team, @frontend-team

Fix SchoolList distance typing and session location id
  src/components/provider/SchoolList.tsx
  src/lib/utils/session.ts
Owners: @frontend-team, @schools-in-team

feat(pwa): Add Phase 1 background geofencing support
  src/app/sw.ts
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/offline/offlineDB.ts
  src/lib/offline/serviceManager.ts
  src/lib/pwa/geofenceWorker.ts
  src/lib/pwa/periodicBackgroundSync.ts
Owners: @schools-in-team

fix(pwa): address oracle review issues for Phase 1 geofencing
  public/sw.js
  src/app/sw.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/offline/dbSchema.ts
  src/lib/offline/offlineDB.ts
  src/lib/pwa/geofenceWorker.ts
Owners: @schools-in-team

feat: Phase 2 - Cross-platform graceful degradation for geofencing
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  public/sw.js
  src/app/sw.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useGeofenceStrategy.ts
  src/lib/pwa/capabilities.ts
  src/lib/pwa/pushReminders.ts
Owners: @schools-in-team

fix: school list loading in Admin Dashboard and update AGENTS.md
  AGENTS.md
  src/lib/services/cachedSchoolService.ts
  src/lib/services/locationNormalizer.ts
Owners: @schools-in-team

fix: polish admin dashboard UI, remove double header, improve mobile nav and feedback
  src/components/admin/AdminDashboard.tsx
  src/components/admin/AdminManualCheckInOut.tsx
  src/components/admin/AdminNavigation.tsx
  src/components/layout/ClientLayout.tsx
Owners: @frontend-team, @schools-in-team

fix: resolve failing tests and Radix Select empty value issue
  jest.setup.js
  public/sw.js
  src/app/dashboard/page.test.tsx
  src/components/provider/SessionHistory.tsx
  src/lib/hooks/__tests__/useAutoGeofenceCheck.test.tsx
Owners: @schools-in-team, @frontend-team

Remove Get Location button from Assigned Schools section
  src/components/provider/SchoolList.tsx
Owners: @frontend-team, @schools-in-team

Fix: Restore useLocation import
  src/components/provider/SchoolList.tsx
Owners: @frontend-team, @schools-in-team

feat: Auto-fetch location when geofence is enabled
  src/lib/hooks/useLocation.ts
Owners: @schools-in-team

Adding updated service worker file.
  public/sw.js
Owners: @schools-in-team

feat: Add school details sheet with platform-aware navigation
  src/components/maps/NavigationButton.tsx
  src/components/provider/SchoolDetailSheet.tsx
  src/components/provider/SchoolList.tsx
Owners: @frontend-team, @schools-in-team

Replace mock data in ReportScheduler with Firestore integration
  firestore.rules
  public/sw.js
  src/components/admin/ReportScheduler.tsx
  src/lib/firebase/types.ts
  src/lib/services/reportScheduleService.ts
Owners: @backend-team, @schools-in-team, @frontend-team, @security-team

Add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Owners: @schools-in-team

fix: enforce typecheck and harden Firestore rules
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  firestore.rules
  next.config.js
  package.json
  src/app/sw.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useGeofenceStrategy.ts
  src/lib/pwa/capabilities.ts
  src/lib/pwa/pushReminders.ts
  tests/firestore.rules.test.js
  tsconfig.json
Owners: @devops-team, @schools-in-team, @backend-team

fix: allow admin manual check-ins in rules
  firestore.rules
  jest.rules.config.js
  package.json
  tests/firestore.rules.test.js
Owners: @backend-team, @schools-in-team

Restore reminder notifications on visibility
  schools.json
  src/lib/hooks/useAutoGeofenceCheck.ts
Owners: @schools-in-team

Remove unused and outdated Cypress tests
  cypress/e2e/performance-accessibility.cy.ts
  cypress/e2e/ui-components.cy.js
  src/app/admin/__tests__/page.test.tsx
  src/app/admin/assignments/__tests__/page.test.tsx
  src/app/admin/feedback/__tests__/page.test.tsx
  src/app/admin/reports/__tests__/page.test.tsx
  src/app/admin/schools/__tests__/page.test.tsx
  src/app/admin/services/__tests__/page.test.tsx
  src/app/admin/users/__tests__/page.test.tsx
  src/app/dashboard/schools/__tests__/page.test.tsx
  src/app/profile/__tests__/page.test.tsx
  src/app/provider/feedback/__tests__/page.test.tsx
  src/components/maps/__tests__/GoogleMap.test.tsx
  src/components/maps/__tests__/LocationPicker.test.tsx
  src/components/maps/__tests__/NavigationButton.test.tsx
  src/components/ui/__tests__/dropdown-menu.test.tsx
  src/components/ui/__tests__/status-badge.test.tsx
  src/components/ui/__tests__/textarea.test.tsx
Owners: @qa-team, @schools-in-team, @frontend-team

feat: Add session review system and provider locations hook
  .cursor/plans/data_&_state_management_efc95ad4.plan.md
  .cursor/plans/geofence_battery_tuning_b66123cd.plan.md
  .cursor/plans/offline_session_logging_a436b3f2.plan.md
  .cursor/plans/stuck_session_admin_alerts_6c96f0f2.plan.md
  AGENTS.md
  CLAUDE.md
  docs/provider-performance-audit.md
  functions/src/index.ts
  src/app/dashboard/page.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/admin/ReportScheduler.tsx
  src/components/admin/SessionManagement.tsx
  src/components/provider/SchoolList.test.tsx
  src/components/provider/SchoolList.tsx
  src/lib/firebase/cachedFirestore.ts
  src/lib/firebase/types.ts
  src/lib/hooks/useAutoGeofenceCheck.ts
  src/lib/hooks/useProviderLocations.ts
  src/lib/hooks/useSession.ts
  src/lib/offline/actionQueue.ts
  src/lib/offline/queueManager.ts
  src/lib/offline/serviceManager.ts
  src/lib/offline/syncManager.ts
  src/lib/pwa/pushReminders.ts
  src/lib/utils/session.ts
Owners: @schools-in-team, @tech-writers, @frontend-team, @security-team, @backend-team

.github/CODEOWNERS:

# Global owners
* @schools-in-team

# Frontend components
/src/components/ @frontend-team @schools-in-team

# Backend/API routes
/src/app/api/ @backend-team @schools-in-team

# Firebase configuration
firebase.json @backend-team @schools-in-team
firestore.rules @backend-team @schools-in-team  
storage.rules @backend-team @schools-in-team

# CI/CD workflows
/.github/workflows/ @devops-team @schools-in-team

# Performance and accessibility
/cypress/e2e/performance-accessibility.cy.ts @qa-team @schools-in-team
/src/lib/performance/ @performance-team @schools-in-team
/src/lib/testing/ @qa-team @schools-in-team

# Documentation
/docs/ @tech-writers @schools-in-team
README.md @tech-writers @schools-in-team

# Security-sensitive files
/src/lib/firebase/ @security-team @backend-team @schools-in-team
/.env* @security-team @backend-team @schools-in-team
